Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "✅ Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "✅ All tests passed!"

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "⚠️  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

Add finance plugin type to documentation
  plugins/README.md
Due: lint-md

Fix finance plugin documentation to match schema
  plugins/README.md
Due: lint-md

Improve calendar events and fix critical vault file update bugs
  bin/plugins
  plugins/markdown-diary/read.js
  plugins/markdown-plans/read.js
  skeleton/scripts/calendar-events-widget.js
  skeleton/scripts/time-tracking-widget.js
  src/export-calendar-events.js
  src/plugin-loader.js
Due: test-related

Move project template to correct directory structure
  plugins/markdown-projects/vault/projects/templates/project.md
Due: lint-md

Fix calendar widget timezone conversion and date display
  skeleton/scripts/calendar-events-widget.js
  src/export-calendar-events.js
Due: test-related

Add placeholder image to project template
  plugins/markdown-projects/vault/projects/templates/project.md
Due: lint-md

Enhance issue sync validation for GitHub and Sentry plugins by adding total count checks and conditional full sync logic
  plugins/github-issues/read.js
  plugins/sentry-issues/read.js
Due: none

Fix diary section order and add obsidianUIMode to templates
  plugins/markdown-diary/read.js
  plugins/markdown-plans/vault/plans/templates/daily-plan.md
  plugins/markdown-plans/vault/tasks/plans.md
  plugins/markdown-projects/vault/projects/templates/project.md
  plugins/markdown-projects/vault/tasks/projects.md
  plugins/markdown-tasks/vault/tasks/recent.md
  plugins/markdown-tasks/vault/tasks/today.md
  plugins/stages/vault/tasks/stages.md
Due: lint-md

Fix vault file update prompt timeout hanging issue
  bin/plugins
Due: none

Fix database stale entries in markdown-projects plugin
  plugins/markdown-projects/read.js
Due: none

Add multi-deployment system for remote server management
  bin/deploy
  config/logrotate-today
  config/services/inbox-api.service
  config/services/today-scheduler.service
  config/services/vault-api.service
  config/services/vault-watcher.service
  config/services/vault-web.service
  src/configure-ui.js
  src/deploy/commands/deploy.js
  src/deploy/commands/exec.js
  src/deploy/commands/index.js
  src/deploy/commands/logs.js
  src/deploy/commands/maintenance.js
  src/deploy/commands/secrets.js
  src/deploy/commands/services.js
  src/deploy/commands/setup.js
  src/deploy/commands/ssh.js
  src/deploy/commands/status.js
  src/deploy/config.js
  src/deploy/index.js
  src/deploy/providers/digitalocean.js
  src/deploy/providers/generic-vps.js
  src/deploy/providers/hetzner.js
  src/deploy/providers/index.js
  src/deploy/remote-server.js
  src/deployments-configure-ui.js
Due: test-related

Add configurable services and jobs for deployments
  README.md
  bin/deploy
  config/services/vault-api.service
  scripts/drafts-send-to-inbox.js
  src/configure-ui.js
  src/deploy/commands/deploy.js
  src/deploy/commands/logs.js
  src/deploy/commands/maintenance.js
  src/deploy/commands/services.js
  src/deploy/config.js
  src/deployments-configure-ui.js
  src/scheduler.js
  src/vault-api.js
  test/deploy-config.test.js
Due: lint-md, test-related

Fix bash integer comparison errors in maintenance script
  src/deploy/commands/maintenance.js
Due: test-related

Add comprehensive weekly plan template for markdown-plans plugin
  plugins/markdown-plans/read.js
  plugins/markdown-plans/vault/plans/templates/weekly-plan.md
Due: lint-md

Enhance calendar events widget to filter events within a 3-day range and exclude past timed events
  skeleton/scripts/calendar-events-widget.js
Due: none

Add contacts plugin type with iCloud CardDAV sync
  bin/contacts
  plugins/icloud-contacts/plugin.toml
  plugins/icloud-contacts/read.js
  src/plugin-schemas.js
  src/plugins-configure-ui.js
Due: test-related

Add contacts plugin type with iCloud CardDAV sync (#103)
  bin/contacts
  plugins/icloud-contacts/plugin.toml
  plugins/icloud-contacts/read.js
  skeleton/scripts/calendar-events-widget.js
  src/plugin-schemas.js
  src/plugins-configure-ui.js
Due: test-related

Add write support to contacts plugin (add, edit, delete)
  bin/contacts
  plugins/icloud-contacts/plugin.toml
  plugins/icloud-contacts/write.js
Due: none

Add log management to DigitalOcean deployment setup
  src/deploy/providers/digitalocean.js
Due: test-related

Fix vault ownership for Resilio Sync on every deploy
  src/deploy/commands/deploy.js
Due: test-related

Add unified project attention system with GitHub-native review criteria
  plugins/github-projects/plugin.toml
  plugins/github-projects/read.js
  src/plugin-schemas.js
Due: test-related

Replace symlink-based mounts with Docker volume mounts for devcontainer
  .devcontainer/devcontainer-startup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/generate-compose-override.sh
  .devcontainer/mounts.local.example
  .devcontainer/setup-mounts.sh
  .gitignore
  jest.config.js
Due: none

Add automated time tracking to inbox processing
  tmp/inbox-processing.js
Due: none

Add .txt file support and file locking resilience to time tracking
  tmp/inbox-processing.js
Due: none

Add automated time tracking to inbox processing plugin
  plugins/inbox-processing/read.js
  tmp/inbox-processing.js
Due: none

Fix time tracking: keep unpaired Start markers in inbox
  plugins/inbox-processing/read.js
Due: none

Update @modelcontextprotocol/sdk to version 1.25.2 in package-lock.json
  package-lock.json
Due: none

Fix time tracking duplicates and simplify plugin scope
  plugins/inbox-processing/read.js
Due: none

Add duplicate Start marker detection to time tracking
  plugins/inbox-processing/read.js
Due: none

Use GitHub project activity as last reviewed date in entries transformation
  plugins/github-projects/read.js
Due: none

Add project URL to review tracking output
  bin/projects
Due: none

Add focus presets for reusable session configurations
  README.md
  bin/today
  src/config.js
Due: lint-md, test-related

Simplify focus preset menu to show only descriptions
  bin/today
Due: none

Show focus preset name in parentheses for direct invocation
  bin/today
Due: none

Add --quiet flag to suppress status output
  bin/today
Due: none

Fix plugin settings defaults not being applied
  src/plugin-loader.js
Due: test-related

Add time reminder at end of AI context
  bin/today
Due: none

Add now-updates plugin for periodic status updates
  plugins/now-updates/plugin.toml
  plugins/now-updates/read.js
Due: none

Use --quiet flag in markdown-plans plugin
  plugins/markdown-plans/read.js
Due: none

Fix bin/email to use new encrypted password environment variables
  bin/email
Due: none
