Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lint-md:
  run: 'echo "Auto-fixing markdown files with markdownlint..."
  
    npx markdownlint-cli2 --fix {staged_files}
  
    git add {staged_files}
  
    echo "âœ… Markdown files have been auto-fixed and staged"
  
    '

test-related:
  run: 'echo "JavaScript source files changed, running tests..."
  
    npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
  
    echo "âœ… All tests passed!"
  
    '

check-docs:
  run: 'echo "Checking documentation is in sync with code..."
  
    scripts/check-docs
  
    echo "âœ… Documentation checks passed!"
  
    '

Fix bin/tasks complete: title matching and error surfacing
  plugins/markdown-tasks/write.js
  src/plugin-loader.js
Due: test-related

Filter non-daily routines from bin/habits today
  bin/habits
Due: none

Fix timer widget not showing on cached markdown pages
  src/web-server.js
Due: test-related

Improve caching: request-scoped dataview files, LRU task cache, static maxAge
  src/web-server.js
Due: test-related

Fix iCloud contacts plugin to handle Apple's prefixed field format
  plugins/icloud-contacts/read.js
Due: none

Fix brace mismatch in write.js causing all auto-sync actions to fail
  plugins/markdown-tasks/write.js
Due: none

Add Bearer token auth for header-only clients like Trmnl
  src/web-server.js
Due: test-related

Add ?embed query param for minimal markdown rendering
  src/web-server.js
Due: test-related

Give ai_instructions more prominence in AI prompts
  bin/today
  plugins/now-updates/read.js
Due: none

Add ?zoom query param for embed mode to scale font size on small displays
  src/web-server.js
Due: test-related

Sort task groups: projects/tasks first, routines last (reversed)
  src/web-server.js
Due: test-related

Hide Properties toggle in embed mode
  src/web-server.js
Due: test-related

Prevent AI from misinterpreting UTC event times
  src/plugin-schemas.js
Due: test-related, check-docs

Fix stale task queries on pages with dynamic DB content
  src/web-server.js
Due: test-related

Fix task queries using UTC instead of user's timezone
  src/web-server.js
Due: test-related

Store Google Calendar event times with Z suffix for unambiguous UTC
  plugins/google-calendar/read.js
Due: none

Fix task query filtering for upcoming tasks and Trmnl compatibility
  src/web-server.js
Due: test-related

feat: support sort by function in task queries and render markdown links
  src/web-server.js
Due: test-related

refactor: use native Node.js APIs and PLUGIN_CONFIG in utility plugins
  plugins/icloud-conflict-cleanup/plugin.toml
  plugins/icloud-conflict-cleanup/read.js
  plugins/inbox-processing/read.js
  plugins/markdownlint-cleanup/read.js
  plugins/resilio-conflict-cleanup/plugin.toml
  plugins/resilio-conflict-cleanup/read.js
Due: none

Auto-cleanup stale systemd services during deploy, remove vault-watcher
  README.md
  config/logrotate-today
  config/services/vault-watcher.service
  src/deploy/commands/deploy.js
  src/deploy/commands/logs.js
  src/deploy/commands/secrets.js
  src/deploy/commands/services.js
  src/deploy/commands/status.js
  src/deploy/config.js
  src/deployments-configure-ui.js
  src/scheduler.js
  test/deploy-config.test.js
Due: lint-md, test-related

fix: inject decrypted secrets in calendar CLI read/write commands
  bin/calendar
  src/plugin-loader.js
Due: test-related

feat: add task timer widget to web interface with background sync
  src/web-server.js
  src/web/public/js/common.js
Due: test-related

fix: use /task/toggle for task timer completion instead of direct DB writes
  src/web-server.js
Due: test-related

fix: escape JSON in task timer checkbox to prevent HTML attribute breakage
  src/web-server.js
Due: test-related

feat: add duplicate/overlap detection to track fix for impossible day totals
  bin/track
Due: none

feat: add pause, rest periods, bg sync, and mobile layout to task timer
  src/web-server.js
  src/web/public/js/common.js
Due: test-related

fix: server-side timer advancement for consistent multi-browser state
  src/web-server.js
  src/web/public/js/common.js
Due: test-related

feat: show upcoming item during task timer rest period
  src/web-server.js
Due: test-related

fix: auto-reconnect database when file is replaced on disk
  src/database-service.js
Due: test-related

fix: prevent task timer sync process storm on small droplets
  src/web-server.js
Due: test-related

fix: prevent duplicate jobs and fix position count in task timer
  src/web-server.js
Due: test-related

feat: add vault watcher daemon for real-time plugin sync on file changes
  config/services/vault-watcher.service
  src/config.js
  src/deploy/commands/services.js
  src/vault-watcher.js
Due: test-related

fix: prevent vault watcher load spike by excluding heavy plugins and using targeted sync
  src/vault-watcher.js
Due: test-related

feat: add FILE_FILTER support to markdown-routines and markdown-projects plugins
  plugins/markdown-projects/read.js
  plugins/markdown-routines/read.js
Due: none

feat: support config-driven file exclusions in task timer
  src/web-server.js
Due: test-related

fix: remove hardcoded evening habit exclusion from task timer
  src/web-server.js
Due: test-related

fix: strip vault prefix from project links in task timer
  src/web-server.js
Due: test-related

feat: add per-plugin sync locking to prevent concurrent sync storms
  bin/plugins
  src/migrations.js
  src/plugin-loader.js
  src/vault-watcher.js
Due: test-related

fix: sync task timer in-process instead of spawning child processes
  src/web-server.js
Due: test-related

fix: make ensureSyncForType sync in-process instead of shelling out
  bin/calendar
  bin/contacts
  bin/email
  bin/finance
  bin/habits
  bin/health
  bin/issues
  bin/projects
  bin/tasks
  bin/track
  src/mcp-server.js
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

Path conditions:
  lint-md: any of: *.md, but not: ^vault/
  test-related: any of: *.js and ^src/
  check-docs: any of: {src/plugin-schemas.js,plugins/README.md}
