Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

fix(deps): clear high-severity runtime advisories to unblock CI (#408)
  package-lock.json
Due: none

feat: add project-calendar plugin (#416)
  bin/calendar
  plugins/project-calendar/plugin.toml
  plugins/project-calendar/read.js
  src/plugin-loader.js
Due: test-related

fix: address Copilot review findings on project-calendar plugin
  plugins/project-calendar/read.js
  test/plugin-loader.test.js
Due: none

feat: project-calendar plugin — sync projects to Google Calendar (#417)
  bin/calendar
  plugins/project-calendar/plugin.toml
  plugins/project-calendar/read.js
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

fix(markdown-plans): skip rewriting project sections when content is unchanged (#422)
  plugins/markdown-plans/read.js
Due: none

fix(unison-sync): keep conflict copies and backups; make conflict winner configurable (#427)
  README.md
  bin/unison-sync
  deploy/docker/Dockerfile.unison-sync
  src/deployments-configure-ui.js
  src/unison-args.js
  test/unison-args.test.js
Due: lint-md, test-related

feat: pass --remote-control when launching interactive Claude sessions
  bin/today
Due: none

feat: pass --remote-control when launching interactive Claude sessions (#437)
  bin/today
Due: none

perf: cut startup time by ~3s with parallel imports and throttled integrity check
  bin/today
  src/db-health.js
Due: test-related

fix: address Copilot review — stamp lifecycle and concurrent invocation race
  src/db-health.js
Due: test-related

perf: cut startup time by ~3s with parallel imports and throttled integrity check (#441)
  bin/today
  src/db-health.js
Due: test-related

perf: key context cache on entries_count, not last_synced_at (#440)
  src/context-cache.js
  test/context-cache.test.js
Due: test-related

fix: store total row count in entries_count, not batch size
  src/plugin-loader.js
Due: test-related

perf: key context cache on entries_count, not last_synced_at (#440) (#442)
  src/context-cache.js
  src/plugin-loader.js
  test/context-cache.test.js
Due: test-related

perf: make --help and --version near-instant, and stop the 5s update stall
  bin/today
Due: none

perf: make --help and --version near-instant, and stop the 5s update stall (#446)
  bin/today
Due: none

perf: skip the dotenvx re-exec for --help and --version
  bin/today
Due: none

perf: skip the dotenvx re-exec for --help and --version (#448)
  bin/today
Due: none

perf: read plugin secrets from process.env before shelling out to dotenvx
  src/plugin-loader.js
Due: test-related

perf: read plugin secrets from process.env before shelling out to dotenvx (#450)
  src/plugin-loader.js
  test/plugin-loader-secrets.test.js
Due: test-related

fix: clear the hosting plugin's timeout so it stops idling 8s per run
  plugins/hosting/read.js
Due: none

fix: clear the hosting plugin's timeout so it stops idling 8s per run (#452)
  plugins/hosting/read.js
Due: none

perf: skip dotenvx config() when the environment is already populated
  src/database-service.js
Due: test-related

perf: skip dotenvx config() when the environment is already populated (#454)
  src/database-service.js
Due: test-related

fix: share one context-plugin runner, always set CONTEXT_ONLY, run in parallel
  bin/context
  src/context-cache.js
  src/plugin-loader.js
  test/context-cache.test.js
  test/plugin-loader-secrets.test.js
Due: test-related

fix: share one context-plugin runner, always set CONTEXT_ONLY, run in parallel (#456)
  bin/context
  src/context-cache.js
  src/plugin-loader.js
  test/context-cache.test.js
  test/plugin-loader-secrets.test.js
Due: test-related

perf: run the gather's plugin types concurrently, bounded by core count
  src/context-cache.js
Due: test-related

perf: run the gather's plugin types concurrently, bounded by core count (#458)
  src/context-cache.js
Due: test-related

chore: update package-lock.json format (remove libc fields)
  package-lock.json
Due: none

feat: add user-scripts plugin to run vault-local executables on sync
  plugins/user-scripts/plugin.toml
  plugins/user-scripts/read.js
  plugins/user-scripts/vault/scripts/user-scripts/.gitkeep
Due: none

fix: wrap insertEntries delete and inserts in one transaction (#459)
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

feat: user-scripts plugin — run vault-local executables on every sync (#460)
  plugins/user-scripts/plugin.toml
  plugins/user-scripts/read.js
  plugins/user-scripts/vault/scripts/user-scripts/.gitkeep
  src/plugin-loader.js
  test/plugin-loader.test.js
  test/user-scripts-read.test.js
Due: test-related

feat: add ynab-api plugin — live sync via YNAB API with delta sync
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/read.js
Due: none

fix(deps): clear remaining npm audit advisories (#404)
  package-lock.json
  package.json
Due: none

fix(deps): clear remaining npm audit advisories (#404) (#464)
  package-lock.json
  package.json
Due: none

feat: add ynab-api plugin — live sync via YNAB API with delta sync (#466)
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/read.js
Due: none

fix: encrypt plugin secrets on every configure path (#470)
  bin/plugins
  src/encrypted-settings.js
  src/plugin-loader.js
  src/plugins-configure-ui.js
  test/encrypted-settings.test.js
Due: test-related

Add regression coverage for today startup import fast paths (#468)
  test/today-cli.test.js
Due: none

fix: encrypt plugin secrets on every configure path (#470) (#471)
  bin/plugins
  src/encrypted-settings.js
  src/plugin-loader.js
  src/plugins-configure-ui.js
  test/encrypted-settings-cleanup.test.js
  test/encrypted-settings.test.js
Due: test-related
