Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lint-md:
  run: 'echo "Auto-fixing markdown files with markdownlint..."
  
    npx markdownlint-cli2 --fix {staged_files}
  
    git add {staged_files}
  
    echo "âœ… Markdown files have been auto-fixed and staged"
  
    '

test-related:
  run: 'echo "JavaScript source files changed, running tests..."
  
    npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
  
    echo "âœ… All tests passed!"
  
    '

check-docs:
  run: 'echo "Checking documentation is in sync with code..."
  
    scripts/check-docs
  
    echo "âœ… Documentation checks passed!"
  
    '

fix: stop bin/plugins from destroying today.toml on save (#472)
  bin/plugins
  test/config-toml-integrity.test.js
Due: none

feat(ynab-api): exclude budgets by denylist, so new ones are never missed (#474)
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/read.js
  plugins/ynab-api/select-budgets.js
  test/ynab-budget-selection.test.js
Due: none

fix: stop bin/plugins from destroying today.toml on save (#472) (#473)
  bin/plugins
  src/encrypted-settings.js
  src/plugins-configure-ui.js
  test/config-toml-integrity.test.js
  test/encrypted-settings-cleanup.test.js
  test/encrypted-settings.test.js
Due: test-related

feat(ynab-api): exclude budgets by denylist, so new ones are never missed (#474) (#475)
  plugins/README.md
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/read.js
  plugins/ynab-api/select-budgets.js
  src/plugin-loader.js
  test/plugin-loader.test.js
  test/ynab-api-read.test.js
  test/ynab-budget-selection.test.js
Due: lint-md, test-related, check-docs

feat(ynab-api): fetch scheduled transactions, which were being dropped (#477)
  bin/finance
  plugins/ynab-api/read.js
  src/migrations.js
  src/plugin-schemas.js
  test/ynab-scheduled-transactions.test.js
Due: test-related, check-docs

Reuse existing [META] review-schedule issue on reschedule instead of creating duplicates (#467)
  plugins/github-projects/write.js
  test/github-projects-write.test.js
Due: none

Surface scheduler stderr and make git-sync fail fast on credential prompts (#469)
  src/scheduler-utils.js
  src/scheduler.js
  test/scheduler-utils.test.js
Due: test-related

feat(finance): reconcile duplicate transactions across sources (#479)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-finance/plugin.toml
  src/finance-reconcile.js
  src/migrations.js
  src/plugin-loader.js
  src/plugin-schemas.js
  test/finance-reconcile.test.js
Due: test-related, check-docs

fix: reconcile before the no-change early return
  src/plugin-loader.js
Due: test-related

feat(ynab-api): fetch scheduled transactions, which were being dropped (#477) (#478)
  bin/finance
  plugins/ynab-api/read.js
  src/migrations.js
  src/plugin-schemas.js
  test/ynab-scheduled-transactions.test.js
Due: test-related, check-docs

feat(finance): reconcile duplicate transactions across sources (#479) (#485)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-finance/plugin.toml
  plugins/ynab-finance/read.js
  src/finance-reconcile.js
  src/migrations.js
  src/plugin-loader.js
  src/plugin-schemas.js
  test/finance-reconcile.test.js
  test/plugin-loader.test.js
Due: test-related, check-docs

feat(finance): reconcile duplicate transactions across sources (#479)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-finance/plugin.toml
  plugins/ynab-finance/read.js
  src/finance-reconcile.js
  src/migrations.js
  src/plugin-loader.js
  src/plugin-schemas.js
  test/finance-reconcile.test.js
  test/plugin-loader.test.js
Due: test-related, check-docs

feat(finance): reconcile duplicate transactions across sources (#479) (#486)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-finance/plugin.toml
  plugins/ynab-finance/read.js
  src/finance-reconcile.js
  src/migrations.js
  src/plugin-loader.js
  src/plugin-schemas.js
  test/finance-reconcile.test.js
  test/plugin-loader.test.js
Due: test-related, check-docs

Route plugin TUI `today.toml` writes through shared CAS TOML I/O (#480)
  src/plugins-configure-ui.js
  test/config-toml-integrity.test.js
  test/encrypted-settings.test.js
Due: test-related

feat(ynab-api): write support for categorizing transactions (#463)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/write.js
Due: none

feat(ynab-api): add --unapprove and memo clearing
  bin/finance
  plugins/ynab-api/write.js
Due: none

refactor: extract testable update logic from write.js
  plugins/ynab-api/transaction-update.js
  plugins/ynab-api/write.js
  test/ynab-transaction-update.test.js
Due: none

feat(ynab-api): write support for categorizing transactions (#463) (#487)
  bin/finance
  plugins/ynab-api/plugin.toml
  plugins/ynab-api/transaction-update.js
  plugins/ynab-api/write.js
  src/plugin-loader.js
  test/plugin-loader-write-sync.test.js
  test/ynab-transaction-update.test.js
Due: test-related

fix(finance): treat account transfers as transfers, not spending (#488)
  bin/finance
  plugins/ynab-api/read.js
  plugins/ynab-finance/read.js
  src/migrations.js
  src/plugin-schemas.js
  test/finance-transfers.test.js
Due: test-related, check-docs

fix(web): larger, better-spaced task checkboxes on mobile
  src/web/public/css/style.css
Due: none

fix(web): also resize task-timer checkbox on mobile
  src/web/public/css/style.css
Due: none

fix(finance): treat account transfers as transfers, not spending (#488) (#489)
  bin/finance
  plugins/ynab-api/read.js
  plugins/ynab-finance/read.js
  src/migrations.js
  src/plugin-schemas.js
  test/finance-transfers.test.js
Due: test-related, check-docs

feat(email): add bin/email trash command
  bin/email
Due: none

refactor(email): rename trash→delete, add spam and move commands
  bin/email
Due: none

fix(email): address Copilot review findings on delete/spam/move
  bin/email
Due: none

feat(email): add bin/email trash command (#491)
  bin/email
  src/email-cli-utils.js
  src/web/public/css/style.css
  test/email-cli-utils.test.js
Due: test-related

fix(plans): convert event times to user's configured timezone
  plugins/markdown-plans/read.js
  src/date-utils.js
Due: test-related

fix(plans): handle all-day events in timezone-aware query and display
  plugins/markdown-plans/read.js
Due: none

fix(plans): convert event times to user's configured timezone (#493)
  plugins/markdown-plans/read.js
  src/date-utils.js
Due: test-related

fix(imap-email): remove cached mail that left the folder (#407)
  plugins/imap-email/read.js
  plugins/imap-email/reconcile.js
  test/imap-email-reconcile.test.js
Due: none

fix(web): never disk-cache pages with dataview/dataviewjs blocks (#497)
  src/dynamic-content.js
  src/web-server.js
  test/dynamic-content.test.js
Due: test-related

fix(web): run vault scripts with moment in the configured timezone (#499)
  package-lock.json
  package.json
  src/vault-script-moment.js
  src/web-server.js
  test/vault-script-moment.test.js
Due: test-related

fix(web): instant feedback and fast start for the task-page timer (#501)
  src/auto-tagger.js
  src/plugin-loader.js
  src/web-server.js
  src/web/templates/task-detail.html
  test/auto-tagger-updater.test.js
  test/plugin-loader-skip-autotag.test.js
Due: test-related

test: stop plugins.test.js racing with temporary stub plugins (#503)
  test/plugins.test.js
Due: none

fix(track): don't block interactive syncs on AI auto-tagging (#506)
  src/plugin-loader.js
  test/plugin-loader-skip-autotag.test.js
Due: test-related

Path conditions:
  lint-md: any of: *.md, but not: ^vault/
  test-related: any of: *.js and ^src/
  check-docs: any of: {src/plugin-schemas.js,plugins/README.md}
