Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

fix: use direct binary path and FILE_FILTER in markdownlint plugin
  plugins/markdownlint-cleanup/read.js
Due: none

perf: use markdownlint Node API directly instead of spawning CLI
  package-lock.json
  package.json
  plugins/markdownlint-cleanup/read.js
Due: none

fix: make ensureSync async in bin/track
  bin/track
Due: none

fix: lint only files changed since last sync, not all files today
  plugins/markdownlint-cleanup/read.js
Due: none

perf: make runPluginCommand async to unblock event loop
  src/plugin-loader.js
Due: test-related

perf: don't trigger full plugin sync on task timer skip
  src/web-server.js
Due: test-related

perf: skip vault-wide file scan for pages without dataview blocks
  src/web-server.js
Due: test-related

feat: add Obsidian Sync conflict cleanup plugin
  plugins/obsidian-sync-conflict-cleanup/plugin.toml
  plugins/obsidian-sync-conflict-cleanup/read.js
Due: none

fix: resolve weekly summaries showing "Week undefined" on monthly plans
  plugins/markdown-plans/vault/scripts/plans-widget.js
  src/web-server.js
Due: test-related

fix: auto-detect running services and add Resilio Sync health check
  bin/resilio-healthcheck
  src/deploy/providers/digitalocean.js
  src/scheduler.js
Due: test-related

feat: create shared health metric display configuration
  bin/health
  src/health-metrics.js
Due: test-related

fix: use normal browser navigation instead of fetch+document.write
  src/web/public/js/common.js
Due: test-related

fix: change ensureSync function to async for proper database synchronization
  bin/contacts
Due: none

feat: add multi-phone, job title, and address support to contacts
  bin/contacts
  plugins/icloud-contacts/read.js
  plugins/icloud-contacts/write.js
  src/plugin-schemas.js
Due: test-related, check-docs

fix: prevent integration tests from failing when server not configured
  jest.config.js
  test/web-server-tasks.test.js
Due: none

feat: add data graphing plugin with multi-curve support and bin/graph CLI
  bin/graph
  package-lock.json
  package.json
  plugins/data-graphing/plugin.toml
  plugins/data-graphing/read.js
  plugins/data-graphing/vault/graphs/.gitkeep
  src/graph-sources.js
Due: test-related

Fix broken task page links from task timer (#157)
  src/web-server.js
Due: test-related

Fix task detail page not showing edit form or file link for DB tasks
  src/web-server.js
Due: test-related

Alphabetize tasks across split files during archive-completed rebalance
  plugins/markdown-tasks/write.js
Due: none

Add done on DATE filter support to executeTasksQuery (#178)
  src/web-server.js
Due: test-related

Fix AI chat editing incomplete edits and false success reporting
  src/ai-chat/tools.js
Due: test-related

Fix isIncremental scoping error in imap-email plugin
  plugins/imap-email/read.js
Due: none

Fix task timer showing the same item multiple times per session (#186)
  src/web-server.js
  test/task-timer.test.js
Due: test-related

chore(deps): update minor/patch dependencies and restore pdf-lib
  package-lock.json
  package.json
Due: none

chore: drop connect-sqlite3 and move npm audit off the PR path
  .github/workflows/security.yml
  package-lock.json
  package.json
  src/web-server.js
Due: test-related

fix: drop legacy connect-sqlite3 session table on startup
  src/web-server.js
Due: test-related

chore(deps): remove unused blessed, node-fetch, and enquirer
  package-lock.json
  package.json
Due: none

feat(deploy): add git-sync as a vault sync option
  README.md
  bin/git-sync
  bin/git-sync-healthcheck
  deploy/systemd/git-sync.service
  deploy/systemd/git-sync.timer
  src/deploy/commands/services.js
  src/deploy/commands/setup.js
  src/deploy/providers/digitalocean.js
  src/scheduler.js
  test/deploy-config.test.js
Due: lint-md, test-related

feat(deploy): add git-sync as a vault sync option (#197)
  README.md
  bin/git-sync
  bin/git-sync-healthcheck
  deploy/systemd/git-sync.service
  deploy/systemd/git-sync.timer
  src/deploy/commands/services.js
  src/deploy/commands/setup.js
  src/deploy/providers/digitalocean.js
  src/scheduler.js
  test/deploy-config.test.js
Due: lint-md, test-related

fix(git-sync): honor vault_path config setting
  bin/git-sync
  bin/git-sync-healthcheck
Due: none

fix(git-sync): honor vault_path config setting (#198)
  bin/git-sync
  bin/git-sync-healthcheck
Due: none

feat(deploy): add local provider for docker-compose deployments
  README.md
  docker-compose.yml
  src/deploy/commands/deploy.js
  src/deploy/commands/services.js
  src/deploy/commands/setup.js
  src/deploy/config.js
  src/deploy/providers/index.js
  src/deploy/providers/local.js
  test/deploy-config.test.js
Due: lint-md, test-related

feat(deploy): add local provider for docker-compose deployments (#199)
  README.md
  docker-compose.yml
  src/deploy/commands/deploy.js
  src/deploy/commands/services.js
  src/deploy/commands/setup.js
  src/deploy/config.js
  src/deploy/providers/index.js
  src/deploy/providers/local.js
  test/deploy-config.test.js
Due: lint-md, test-related

fix(local-deploy): devcontainer Docker CLI + git-sync in configure UI
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  docker-compose.yml
  src/deploy/commands/deploy.js
  src/deployments-configure-ui.js
Due: lint-md, test-related

fix(local-deploy): devcontainer Docker CLI + git-sync in configure UI (#201)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  docker-compose.yml
  src/deploy/commands/deploy.js
  src/deployments-configure-ui.js
Due: lint-md, test-related

fix(local-deploy): round 2 from real Mac testing
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  docker-compose.yml
Due: lint-md

fix(local-deploy): round 2 from real Mac testing (#202)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  docker-compose.yml
Due: lint-md

chore: drop Turso CLI install from Dockerfiles
  .devcontainer/Dockerfile
  Dockerfile
  src/web-server.js
Due: test-related

chore: drop Turso CLI install from Dockerfiles (#203)
  .devcontainer/Dockerfile
  Dockerfile
  src/web-server.js
Due: test-related

fix(docker): add Cairo/Pango dev libs so canvas builds on Alpine
  Dockerfile
Due: none
