Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

Add /_git page for reviewing changes, staging, committing, and pushing
  src/web-server.js
Due: test-related

Use centralized config path instead of hardcoding config.toml
  bin/email
  plugins/hosting/read.js
  plugins/markdown-diary/read.js
  plugins/markdown-plans/read.js
  plugins/markdown-routines/read.js
  plugins/now-updates/read.js
  plugins/weather-context/read.js
  src/deploy/commands/deploy.js
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

Add AI commit message generation button to /_git page
  src/web-server.js
Due: test-related

Add pull button with stash-based auto-recovery to /_git page
  src/web-server.js
Due: test-related

Emit historical entries from markdown-routines plugin
  plugins/markdown-routines/read.js
Due: none

Fix weekly plan files duplicating across month boundaries
  plugins/markdown-plans/read.js
Due: none

Fix Stage All buttons to only stage files from their section
  src/web-server.js
Due: test-related

Add directory-level stage buttons and surface stash pop conflicts
  src/web-server.js
Due: test-related

Add left border to visually group directory files in git page
  src/web-server.js
Due: test-related

Auto-resolve stash pop conflicts with union merge during pull
  src/web-server.js
Due: test-related

Fix TOML config crash recovery and listing image persistence
  plugins/trusted-housesitters/read.js
  src/config.js
Due: test-related

Add 'set-review-date' command to schedule project reviews and update frontmatter in markdown projects
  bin/plugins
  bin/projects
  plugins/github-projects/write.js
  plugins/markdown-projects/write.js
Due: none

Fix AI chat errors being silently swallowed and consecutive message corruption
  src/ai-chat/message-builder.js
  src/web-server.js
Due: test-related

Fix project links in plan files to use root-relative URLs
  plugins/markdown-projects/read.js
Due: none

Add create_file tool to AI chat for creating new files in vault
  src/ai-chat/message-builder.js
  src/ai-chat/tools.js
  src/web-server.js
Due: test-related

Add delete_file tool to AI chat for cleaning up files and empty directories
  src/ai-chat/message-builder.js
  src/ai-chat/tools.js
  src/web-server.js
Due: test-related

Add error handling for image downloads in trusted-housesitters plugin
  plugins/trusted-housesitters/read.js
Due: none

Add stage metadata support to project management system
  bin/projects
  plugins/github-projects/read.js
  plugins/github-projects/write.js
  plugins/markdown-projects/read.js
  plugins/markdown-projects/write.js
Due: none

Add review frequency grouping to project listing
  bin/projects
Due: none

Add emoji and labels for all health metrics
  bin/health
Due: none

Fix health CLI unit display and -d flag handling
  bin/health
Due: none

Use dedicated fixture for task toggle tests
  test/fixtures/task-toggle-fixture.md
  test/web-server-tasks.test.js
Due: lint-md

Add projects to review section to daily plans
  plugins/markdown-plans/read.js
Due: none

Fix task toggle tests to use test/fixtures as VAULT_PATH
  test/web-server-tasks.test.js
Due: none

Fix timezone handling in calendar CLI and event exports
  bin/calendar
  src/date-utils.js
  src/export-calendar-events.js
  test/date-utils.test.js
Due: test-related

Update README with missing plugin types and fixes
  README.md
Due: lint-md

Show AI assistant at top on mobile devices
  src/web-server.js
Due: test-related

Add TOML file support to web interface
  src/web-server.js
Due: test-related

Add CI workflows and improve dependency management
  .github/dependabot.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  package-lock.json
Due: none

Fix CI workflow issues
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Fix remaining CI issues
  .github/workflows/test.yml
  .markdownlint.json
  .markdownlintignore
Due: none

Fix markdown lint to only check project files
  .github/workflows/test.yml
Due: none

Add CI workflows and dependency management (#122)
  .github/dependabot.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .markdownlint.json
  .markdownlintignore
  package-lock.json
Due: none

Fix bin/tasks add command issues
  bin/tasks
  plugins/markdown-tasks/write.js
Due: none

Fix bin/tasks add command issues (#127)
  bin/tasks
  plugins/markdown-tasks/write.js
Due: none

Update all major dependencies
  package-lock.json
  package.json
Due: none

Update all major dependencies (#128)
  package-lock.json
  package.json
Due: none

Fix AI chat fluff responses and render cache key
  src/ai-chat/message-builder.js
  src/web-server.js
Due: test-related

Install Claude Code via official installer to ~/.local/bin
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Fix missing CONFIG_PATH in plugin subprocess env for bin/today and bin/context
  bin/context
  bin/today
Due: none
