Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lint-md:
  run: 'echo "Auto-fixing markdown files with markdownlint..."
  
    npx markdownlint-cli2 --fix {staged_files}
  
    git add {staged_files}
  
    echo "âœ… Markdown files have been auto-fixed and staged"
  
    '

test-related:
  run: 'echo "JavaScript source files changed, running tests..."
  
    npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
  
    echo "âœ… All tests passed!"
  
    '

check-docs:
  run: 'echo "Checking documentation is in sync with code..."
  
    scripts/check-docs
  
    echo "âœ… Documentation checks passed!"
  
    '

Role reports: dispatch on named triggers, new information only, phone-first shape (#579)
  docs/ROLE_AGENTS.md
  skeleton/roles/REPORTING.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/plugin-loader.js
  test/role-templates-install.test.js
Due: lint-md, test-related

Web view accessibility in both themes, with regression tests (#581)
  package-lock.json
  package.json
  src/web-server.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/login.html
  test/fixtures/a11y-vault/diary/2026-01-15.md
  test/fixtures/a11y-vault/notes/kitchen-sink.md
  test/fixtures/a11y-vault/projects/sample-project.md
  test/helpers/a11y-harness.js
  test/web-accessibility.test.js
Due: lint-md, test-related

Web view accessibility in both themes, with regression tests (#581) (#582)
  package-lock.json
  package.json
  src/web-server.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/login.html
  test/fixtures/a11y-vault/diary/2026-01-15.md
  test/fixtures/a11y-vault/notes/kitchen-sink.md
  test/fixtures/a11y-vault/projects/sample-project.md
  test/helpers/a11y-harness.js
  test/web-accessibility.test.js
Due: lint-md, test-related

Role reports: dispatch on named triggers, new information only, phone-first shape (#579) (#580)
  docs/ROLE_AGENTS.md
  skeleton/roles/REPORTING.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/plugin-loader.js
  test/role-templates-install.test.js
Due: lint-md, test-related

Git page diffs follow the theme and pass contrast checks (#583)
  src/web-server.js
  src/web/public/css/style.css
  test/fixtures/a11y-vault/code/example.js
  test/helpers/a11y-harness.js
  test/web-accessibility.test.js
Due: test-related

Disable transitions before the accessibility audit
  test/helpers/a11y-harness.js
Due: none

Cover the staged-file view: stage a fixture edit, fix warning and status colours
  src/web/public/css/style.css
  test/helpers/a11y-harness.js
Due: none

Git page diffs follow the theme and pass contrast checks (#583) (#584)
  src/web-server.js
  src/web/public/css/style.css
  test/fixtures/a11y-vault/code/example.js
  test/helpers/a11y-harness.js
  test/web-accessibility.test.js
Due: test-related

One emoji table: task markers render as distinct, labelled icons (#586)
  src/emoji-mappings.js
  src/web-server.js
  test/emoji-mappings.test.js
  test/fixtures/fontawesome-free-6.4.0-icons.txt
  test/web-accessibility.test.js
Due: test-related

Drop an unused constant from the emoji converter
  src/emoji-mappings.js
Due: test-related

One emoji table: task markers render as distinct, labelled icons (#586) (#587)
  src/emoji-mappings.js
  src/web-server.js
  test/emoji-mappings.test.js
  test/fixtures/a11y-vault/notes/kitchen-sink.md
  test/fixtures/fontawesome-free-6.4.0-icons.txt
  test/web-accessibility.test.js
Due: lint-md, test-related

Make Roles an opt-in plugin like now-updates (#588)
  docs/ROLE_AGENTS.md
  plugins/README.md
  plugins/markdown-diary/read.js
  plugins/roles/diary-writer.js
  plugins/roles/plugin.toml
  plugins/roles/read.js
  plugins/roles/report.js
  plugins/roles/schedule.js
  plugins/roles/vault/roles/REPORTING.md
  plugins/roles/vault/roles/_template/SKILL.md
  plugins/roles/vault/roles/chief-of-staff/SKILL.md
  src/diary-role-blocks.js
  src/plugin-loader.js
  test/role-templates-install.test.js
  test/roles-diary-writer.test.js
  test/roles-plugin.test.js
Due: lint-md, test-related, check-docs

Wait for the fake session's last line before checking it
  test/roles-plugin.test.js
Due: none

Paginate project items when searching for the review metadata issue (#590)
  plugins/github-projects/write.js
  test/github-projects-write.test.js
Due: none

Make Roles an opt-in plugin like now-updates (#588) (#589)
  docs/ROLE_AGENTS.md
  plugins/README.md
  plugins/markdown-diary/read.js
  plugins/roles/diary-writer.js
  plugins/roles/plugin.toml
  plugins/roles/read.js
  plugins/roles/report.js
  plugins/roles/schedule.js
  plugins/roles/vault/roles/REPORTING.md
  plugins/roles/vault/roles/_template/SKILL.md
  plugins/roles/vault/roles/chief-of-staff/SKILL.md
  src/diary-role-blocks.js
  src/plugin-loader.js
  test/role-templates-install.test.js
  test/roles-diary-writer.test.js
  test/roles-plugin.test.js
Due: lint-md, test-related, check-docs

Paginate project items when searching for the review metadata issue (#590) (#591)
  plugins/github-projects/write.js
  test/github-projects-write.test.js
Due: none

Git page: theme the directory headers (follow-up to #583)
  src/web-server.js
  src/web/public/css/style.css
  test/fixtures/a11y-vault/code/helper.js
  test/helpers/a11y-harness.js
Due: test-related

Git page: theme the directory headers (follow-up to #583) (#592)
  src/web-server.js
  src/web/public/css/style.css
  test/fixtures/a11y-vault/code/helper.js
  test/helpers/a11y-harness.js
  test/web-accessibility.test.js
Due: test-related

Path conditions:
  lint-md: any of: *.md, but not: ^vault/
  test-related: any of: *.js and ^src/
  check-docs: any of: {src/plugin-schemas.js,plugins/README.md}
