Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "✅ Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "✅ All tests passed!"

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "⚠️  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

Improve bin/today progress output and make AI references generic
  bin/today
  src/plugin-schemas.js
  test/today-cli.test.js
Due: test-related

Add database-cleanup utility plugin
  config.toml.example
  plugins/database-cleanup/plugin.toml
  plugins/database-cleanup/read.js
  tmp/TODAY.md
Due: lint-md

Add IMAP email plugin with two-phase sync
  bin/email
  config.toml.example
  plugins/imap-email/fetch-bodies.js
  plugins/imap-email/plugin.toml
  plugins/imap-email/read.js
  plugins/imap-email/write.js
  src/email-downloader.js
  src/email-manager.js
  src/email-organizer.js
  src/plugin-schemas.js
Due: test-related

Add automatic database corruption detection and recovery
  bin/today
  config.toml.example
  plugins/database-cleanup/plugin.toml
  plugins/database-cleanup/read.js
  src/db-health.js
  test/today-cli.test.js
Due: test-related

Rewrite bin/email to use plugin system, delete legacy src/ files
  bin/email
  bin/pobox-sync
  bin/today
  plugins/imap-email/fetch-bodies.js
  plugins/imap-email/plugin.toml
  src/db-health.js
  src/email-downloader.js
  src/plugin-schemas.js
  src/sqlite-cache.js
  src/task-cache.js
  src/task-manager.js
  src/task-stage-classifier.js
  src/task-status-classifier.js
  src/task-topic-classifier.js
Due: test-related

Delete obsolete deduplicate-tasks.js script
  scripts/deduplicate-tasks.js
Due: none

Add optional cleanup of old .streaks files to streaks-habits plugin
  plugins/streaks-habits/plugin.toml
  plugins/streaks-habits/read.js
Due: none

Add warning for unusually long running timers in cmdStop function
  bin/track
Due: none

Add healthchecks-io plugin for monitoring failing checks
  .env
  config.toml.example
  plugins/healthchecks-io/plugin.toml
  plugins/healthchecks-io/read.js
Due: none

Cache email bodies to avoid re-fetching on every sync
  plugins/imap-email/read.js
Due: none

Replace inquirer with @clack/prompts in bin/plugins configure
  bin/plugins
  package-lock.json
  package.json
  src/email-manager.js
Due: test-related

Cache email bodies and prevent duplicate background fetchers
  plugins/imap-email/fetch-bodies.js
  plugins/imap-email/read.js
Due: none

Fix timer stop failing after restart due to WAL visibility
  bin/plugins
  plugins/markdown-time-tracking/read.js
  src/database-service.js
  src/plugin-loader.js
Due: test-related

Refactor CLI color handling: Replace chalk with picocolors
  bin/context
  bin/diary
  bin/email
  bin/habits
  bin/issues
  bin/sync
  bin/tasks
  bin/track
  bin/vault-watcher
  package-lock.json
  package.json
  plugins/imap-email/read.js
  src/claude-cli-adapter.js
  src/cli-utils.js
  src/email-manager.js
  src/email-organizer.js
  src/local-llm.js
  src/migrations.js
  src/natural-language-search.js
Due: test-related

Add markdown-routines plugin for tracking multi-step daily/periodic routines
  bin/habits
  config.toml.example
  plugins/markdown-routines/plugin.toml
  plugins/markdown-routines/read.js
  src/plugin-loader.js
  src/recurrence-parser.js
Due: test-related

Add weather-context plugin for location-based weather forecasts
  bin/context
  config.toml.example
  plugins/weather-context/plugin.toml
  plugins/weather-context/read.js
Due: none

Add automatic database recovery during plugin sync
  bin/plugins
Due: none

Fix --no-sync to still gather context, add weather-context support
  bin/today
Due: none

Add markdown-diary and icloud-conflict-cleanup plugins
  .docker-bashrc
  bin/diary
  bin/progress
  bin/status
  bin/today
  config.toml.example
  plugins/icloud-conflict-cleanup/plugin.toml
  plugins/icloud-conflict-cleanup/read.js
  plugins/markdown-diary/plugin.toml
  plugins/markdown-diary/read.js
Due: none

Fix today-cli tests by skipping slow context gathering
  bin/today
  test/today-cli.test.js
Due: none

Add content-aware change tracking to vault-changes plugin
  bin/context
  bin/today
  plugins/vault-changes/plugin.toml
  plugins/vault-changes/read.js
  plugins/vault-changes/write.js
  src/migrations.js
Due: test-related

Fix bin/diary add to use configured timezone
  bin/diary
Due: none

Add git status to vault-changes plugin when vault is a git repo
  bin/context
  plugins/vault-changes/read.js
Due: none

Extract all functionality from bin/sync to tmp/ for migration
  bin/sync
  tmp/contacts-sync.js
  tmp/inbox-processing.js
  tmp/plan-cleanup.js
  tmp/pobox-sync.js
  tmp/time-blocking-cleanup.js
  tmp/time-tracking-calendar.js
Due: none

Remove deprecated bin/sync
  bin/sync
Due: none

Update scheduler for bin/sync deprecation
  src/scheduler.js
Due: test-related

Fix prepare script to handle missing lefthook in production
  bin/tasks
  package.json
Due: none

Include config.toml in deployment sync
  bin/deploy-do
Due: none

Optimize markdownlint-cleanup with vault-changes integration
  plugins/markdownlint-cleanup/plugin.toml
  plugins/markdownlint-cleanup/read.js
Due: none

Run vault-changes plugin when baseline missing in markdownlint-cleanup
  plugins/markdownlint-cleanup/read.js
Due: none

Add inbox-processing plugin and move inbox to vault/inbox
  README.md
  config.toml.example
  plugins/inbox-processing/plugin.toml
  plugins/inbox-processing/read.js
  src/inbox-api.js
  src/vault-api.js
Due: lint-md, test-related

Fix timezone handling and duplicate history in markdown-routines plugin
  plugins/markdown-routines/read.js
Due: none

Extract vault-changes core to src/ module with plugin wrapper
  bin/context
  config.toml.example
  plugins/markdownlint-cleanup/plugin.toml
  plugins/markdownlint-cleanup/read.js
  plugins/vault-changes/plugin.toml
  plugins/vault-changes/read.js
  plugins/vault-changes/write.js
  src/vault-changes.js
Due: test-related

Update markdown-tasks and markdown-diary to use vault-changes
  plugins/markdown-diary/read.js
  plugins/markdown-tasks/read.js
  plugins/vault-changes/read.js
  plugins/vault-changes/write.js
Due: none

Add gratitude handling to inbox-processing and use "I'm grateful for..." header
  bin/diary
  plugins/inbox-processing/read.js
  plugins/markdown-diary/read.js
Due: none

Add progress indicator to track stop command
  bin/track
Due: none

Add stages context plugin for day-based task grouping
  bin/db-query
  bin/today
  config.toml.example
  plugins/stages/plugin.toml
  plugins/stages/read.js
  test/today-cli.test.js
Due: none

Update section parsing to handle gratitude header variations
  plugins/markdown-diary/read.js
Due: none

Refactor stages configuration to streamline day-of-week focus areas and email categorization patterns
  config.toml.example
Due: none

Add signal handlers for graceful database shutdown to prevent WAL corruption
  src/database-service.js
Due: test-related
