Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

fix(unison-sync): ignore permission differences between macOS and Linux (#231)
  bin/unison-sync
Due: none

fix: create empty override file when mounts.local is not found
  .devcontainer/generate-compose-override.sh
Due: none

feat: add jitter to scheduler jobs and vault watcher debounce
  src/scheduler.js
  src/vault-watcher.js
Due: test-related

feat: add jitter to scheduler jobs and vault watcher debounce (#233)
  src/scheduler.js
  src/vault-watcher.js
Due: test-related

fix(unison-sync): add -retry 3 for stale lock recovery
  bin/unison-sync
Due: none

fix(unison-sync): add -retry 3 for stale lock recovery (#234)
  bin/unison-sync
Due: none

feat: support personal-setup.sh for per-user devcontainer tools
  .devcontainer/devcontainer.json
  .devcontainer/personal-setup.sh.example
  .gitignore
Due: none

feat: support personal-setup.sh for per-user devcontainer tools (#235)
  .devcontainer/devcontainer.json
  .devcontainer/personal-setup.sh.example
  .gitignore
Due: none

feat: support personal-startup.sh for per-user services on container start
  .devcontainer/devcontainer-startup
  .devcontainer/personal-startup.sh.example
  .gitignore
Due: none

feat: support personal-startup.sh for per-user services on container start (#236)
  .devcontainer/devcontainer-startup
  .devcontainer/personal-startup.sh.example
  .gitignore
Due: none

docs: use full path for code CLI and add deployment name to tunnel example
  .devcontainer/personal-startup.sh.example
Due: none

docs: fix paths and add mkdir/chown to personal setup examples
  .devcontainer/personal-setup.sh.example
  .devcontainer/personal-startup.sh.example
Due: none

Fix plugins overwriting user-entered plan properties (#239)
  plugins/markdown-plans/read.js
Due: none

Fix: already-completed tasks/projects reappearing in task timer (#242)
  src/web-server.js
  test/task-timer.test.js
Due: test-related

Fix sync resilience, CLI prompt handling, await bugs, and bump default model
  bin/calendar
  bin/today
  bin/unison-sync
  src/ai-provider.js
Due: test-related

test: update ai-provider model expectations to claude-sonnet-4-6
  test/ai-provider.test.js
Due: none

docs(devcontainer): harden code-tunnel example and surface auth prompt
  .devcontainer/personal-startup.sh.example
Due: none

test: exclude .data/ from Jest module resolution
  jest.config.js
Due: none

build(devcontainer): install standalone VS Code CLI for code tunnel
  .devcontainer/Dockerfile
Due: none

feat(calendar): support custom event reminders via --reminder flag
  .devcontainer/devcontainer-lock.json
  bin/calendar
  plugins/google-calendar/write.js
Due: none

Remove git-sync vault sync mechanism entirely
  README.md
  bin/git-sync
  bin/git-sync-healthcheck
  deploy/systemd/git-sync.service
  deploy/systemd/git-sync.timer
  src/deploy/commands/deploy.js
  src/deploy/commands/setup.js
  src/deploy/providers/digitalocean.js
  src/deploy/providers/local.js
  src/deploy/services.js
  src/deployments-configure-ui.js
  src/scheduler.js
  test/deploy-config.test.js
Due: lint-md, test-related

fix(plans): never rebuild/stomp a corrupt plan file (stage 2)
  plugins/markdown-plans/read.js
Due: none

fix(plans): atomic, skip-if-unchanged writes for plan files (stage 1)
  plugins/markdown-plans/read.js
  src/fs-atomic.js
  test/fs-atomic.test.js
Due: test-related

fix(plans): compare-and-swap writes close the genuine-change race (stage 3)
  plugins/markdown-plans/read.js
  src/fs-atomic.js
  test/fs-atomic.test.js
Due: test-related

ci(security): run npm audit on PRs and pushes to main
  .github/workflows/security.yml
Due: none

fix(devcontainer): remove stray character from devcontainer-lock.json
  .devcontainer/devcontainer-lock.json
Due: none

fix(security): bump nodemailer override ^7.0.11 → ^8.0.5
  package-lock.json
  package.json
Due: none

fix(plans): bound markdown-plans AI volume and keep long syncs locked
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

fix(plans): bound markdown-plans AI volume and keep long syncs locked (#270)
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

fix(plugins,core): route read-modify-write file edits through fs-atomic
  plugins/hosting/read.js
  plugins/inbox-processing/read.js
  plugins/markdown-diary/read.js
  plugins/markdown-projects/write.js
  plugins/markdown-routines/read.js
  plugins/markdown-tasks/write.js
  plugins/markdown-time-tracking/write.js
  plugins/markdownlint-cleanup/read.js
  plugins/now-updates/read.js
  src/chat-session.js
  src/config.js
  src/web-server.js
  test/markdown-tasks-write.test.js
Due: test-related

Speed up `/_git/ai-commit-message` with provider-aware diff context and SSE token streaming (#273)
  src/ai-provider.js
  src/git-ai-commit-message-route.js
  src/web-server.js
  test/web-server-ai-commit-message.test.js
Due: test-related

fix(plugins,core): route read-modify-write file edits through fs-atomic (#274)
  plugins/hosting/read.js
  plugins/inbox-processing/read.js
  plugins/markdown-diary/read.js
  plugins/markdown-projects/write.js
  plugins/markdown-routines/read.js
  plugins/markdown-tasks/write.js
  plugins/markdown-time-tracking/write.js
  plugins/markdownlint-cleanup/read.js
  plugins/now-updates/read.js
  src/chat-session.js
  src/config.js
  src/fs-atomic.js
  src/web-server.js
  test/fs-atomic.test.js
  test/markdown-tasks-write.test.js
Due: test-related

test(today-cli): set SKIP_UPDATE_CHECK to avoid interactive prompt
  test/today-cli.test.js
Due: none

fix(git): double-escape \n in /_git SSE parser to keep script parsable
  src/web-server.js
Due: test-related

fix(security): bump nodemailer override ^7.0.11 → ^8.0.5 (#271)
  package-lock.json
  package.json
Due: none

ci(security): run npm audit on PRs and pushes to main (#263)
  .github/workflows/security.yml
Due: none
