Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

fix(docker): add Cairo/Pango dev libs so canvas builds on Alpine (#204)
  Dockerfile
Due: none

fix(local-deploy): respect mounts.local for vault bind mount
  .devcontainer/generate-compose-override.sh
  .gitignore
Due: none

fix(local-deploy): respect mounts.local for vault bind mount (#205)
  .devcontainer/generate-compose-override.sh
  .gitignore
Due: none

fix(docker): install openssh-client so git can talk to SSH remotes
  Dockerfile
Due: none

fix(docker): install openssh-client so git can talk to SSH remotes (#206)
  Dockerfile
Due: none

fix(deploy): don't uninstall opt-in systemd units on regular deploys
  src/deploy/commands/deploy.js
Due: test-related

fix(deploy): don't uninstall opt-in systemd units on regular deploys (#212)
  src/deploy/commands/deploy.js
Due: test-related

fix: add vault-watcher to configure UI and deploy config parsing
  src/deploy/config.js
  src/deployments-configure-ui.js
Due: test-related

fix: add vault-watcher to configure UI and deploy config parsing (#213)
  src/deploy/config.js
  src/deployments-configure-ui.js
Due: test-related

docs: clarify that git-sync handles committed state only, not file sync
  README.md
  bin/git-sync
Due: lint-md

docs: clarify that git-sync handles committed state only, not file sync (#216)
  README.md
  bin/git-sync
Due: lint-md

docs: clarify that git-sync handles committed state only, not file sync (#216)
  README.md
  bin/git-sync
  docker-compose.yml
  src/deploy/providers/local.js
Due: lint-md, test-related

docs: clarify that git-sync handles committed state only, not file sync (#216) (#218)
  docker-compose.yml
  src/deploy/providers/local.js
Due: test-related

refactor(deploy): single source of truth for the services list
  src/deploy/commands/deploy.js
  src/deploy/commands/services.js
  src/deploy/config.js
  src/deploy/providers/local.js
  src/deploy/services.js
  src/deployments-configure-ui.js
  test/deploy-config.test.js
Due: test-related

refactor(deploy): single source of truth for the services list (#219)
  src/deploy/commands/deploy.js
  src/deploy/commands/services.js
  src/deploy/config.js
  src/deploy/providers/local.js
  src/deploy/services.js
  src/deployments-configure-ui.js
  test/deploy-config.test.js
Due: test-related

feat(deploy): add Unison-based working-tree sync
  bin/unison-sync
  deploy/docker/Dockerfile.unison-sync
  docker-compose.yml
  src/deploy/commands/setup.js
  src/deploy/providers/digitalocean.js
  src/deploy/services.js
  src/deployments-configure-ui.js
Due: test-related

feat(deploy): add Unison-based working-tree sync (#220)
  bin/unison-sync
  deploy/docker/Dockerfile.unison-sync
  docker-compose.yml
  src/deploy/commands/setup.js
  src/deploy/providers/digitalocean.js
  src/deploy/services.js
  src/deployments-configure-ui.js
Due: test-related

fix(deploy): extract unison tarball to correct path
  src/deploy/providers/digitalocean.js
Due: test-related

fix(deploy): extract unison tarball to correct path (#221)
  src/deploy/providers/digitalocean.js
Due: test-related

fix(unison-sync): use real config.js + skip non-compose services
  bin/unison-sync
  src/deploy/providers/local.js
Due: test-related

fix: eliminate event-loop-blocking operations during task timer (#196)
  src/web-server.js
Due: test-related

fix(unison-sync): use real config.js + skip non-compose services (#222)
  bin/unison-sync
  src/deploy/providers/local.js
Due: test-related

fix: add unison-sync to vault mount override in generate-compose-override
  .devcontainer/generate-compose-override.sh
Due: none

fix: add unison-sync to vault mount override in generate-compose-override (#223)
  .devcontainer/generate-compose-override.sh
Due: none

fix: run unison-sync via dotenvx so encrypted env vars are available
  docker-compose.yml
Due: none

fix: run unison-sync via dotenvx so encrypted env vars are available (#224)
  docker-compose.yml
Due: none

fix(unison-sync): use getDeployment() for IP resolution with legacy env var support
  bin/unison-sync
Due: none

fix(unison-sync): use getDeployment() for IP resolution with legacy env var support (#225)
  bin/unison-sync
Due: none

fix(unison-sync): resolve SSH key and skip read-only known_hosts
  bin/unison-sync
Due: none

fix(unison-sync): resolve SSH key and skip read-only known_hosts (#226)
  bin/unison-sync
Due: none

fix(unison-sync): decrypt deploy key from .env instead of mounting host SSH
  docker-compose.yml
Due: none

fix(unison-sync): decrypt deploy key from .env instead of mounting host SSH (#227)
  docker-compose.yml
Due: none

fix(unison-sync): set stable UNISONLOCALHOSTNAME so archives persist
  docker-compose.yml
Due: none

fix(unison-sync): set stable UNISONLOCALHOSTNAME so archives persist (#228)
  docker-compose.yml
Due: none

perf: build base image once and shrink Docker build context
  .dockerignore
  docker-compose.yml
Due: none

perf: build base image once and shrink Docker build context (#229)
  .dockerignore
  docker-compose.yml
Due: none

fix(unison-sync): use per-deployment hostname so multiple Macs don't conflict
  bin/unison-sync
  docker-compose.yml
Due: none

fix(unison-sync): use per-deployment hostname so multiple Macs don't conflict (#230)
  bin/unison-sync
  docker-compose.yml
Due: none

fix(unison-sync): ignore permission differences between macOS and Linux
  bin/unison-sync
Due: none
