Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

feat(web): edit daily Top Priorities on the summaries page (#544)
  src/plan-summaries.js
  src/plan-summary-status.js
  src/web-server.js
  test/plan-summaries.test.js
  test/plan-summary-status.test.js
Due: test-related

feat(web): show tomorrow's Top Priorities on the summaries page
  src/plan-summaries.js
  src/web-server.js
  test/plan-summaries.test.js
Due: test-related

fix(web): only today's daily plan appears before its period ends
  src/plan-summaries.js
  src/web-server.js
  test/plan-summaries.test.js
Due: test-related

feat(web): show tomorrow's Top Priorities on the summaries page (#549)
  src/plan-summaries.js
  src/web-server.js
  test/plan-summaries.test.js
Due: test-related

perf(web): refresh the vault file index in the background
  src/vault-file-index.js
  src/web-server.js
  test/vault-file-index.test.js
Due: test-related

fix(sync): only recreate the database on corruption, not lock/open errors (#547)
  bin/plugins
  src/db-health.js
  test/db-health.test.js
Due: test-related

Make auto-updates recover safely from interruptions (#548)
  bin/lib/update-safety.js
  bin/today
  test/update-safety.test.js
Due: none

perf(web): load query blocks after the page, like Turbo lazy frames
  src/deferred-blocks.js
  src/web-server.js
  test/deferred-blocks.test.js
Due: test-related

perf(web): refresh the vault file index in the background (#552)
  src/vault-file-index.js
  src/web-server.js
  test/vault-file-index.test.js
Due: test-related

perf(web): load query blocks after the page, like Turbo lazy frames (#554)
  src/deferred-blocks.js
  src/web-server.js
  test/deferred-blocks.test.js
Due: test-related

fix(test): keep update-safety tests off the real repo under git hooks (#555)
  lefthook.yml
  test/update-safety.test.js
Due: none

fix(deps): pin @dotenvx/dotenvx to 2.26.1 to drop node-forge (#551)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

test: keep update-safety git commands out of the real repo under hooks
  test/update-safety.test.js
Due: none

test: keep update-safety git commands out of the real repo under hooks (#559)
  test/update-safety.test.js
Due: none

fix(deps): pin @dotenvx/dotenvx to 2.26.1 to drop node-forge (#557)
  .github/dependabot.yml
  lefthook.yml
  package-lock.json
  package.json
  test/update-safety.test.js
Due: none

feat(routines): optionally collapse each routine into one entry (#563)
  plugins/markdown-routines/plugin.toml
  plugins/markdown-routines/read.js
  src/routine-collapse.js
  src/web-server.js
  test/routine-collapse.test.js
Due: test-related

Optionally collapse each routine into one entry in task lists, count and timer (#564)
  plugins/markdown-routines/plugin.toml
  plugins/markdown-routines/read.js
  src/routine-collapse.js
  src/web-server.js
  test/routine-collapse.test.js
Due: test-related

feat(web): follow iOS Text Size and add +/- text size control
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

Follow iOS Text Size and add +/- text size control (#565)
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

feat(web): move theme and text size into a display settings menu
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

Move theme and text size into a display settings menu (#568)
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

feat(web): keep the navbar one compact row at large text sizes
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

Keep the navbar one compact row at large text sizes (#570)
  src/web-server.js
  src/web/navbar.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/navbar.html
  test/theme.test.js
Due: test-related

fix(deps): bump proxy-addr to 2.0.8 for GHSA-jqcg-44mw-7w3h
  package-lock.json
Due: none

fix(deps): bump proxy-addr to 2.0.8 for GHSA-jqcg-44mw-7w3h (#572)
  package-lock.json
Due: none

Add durable ROLE diary blocks, bin/role-report, and role skeletons (#573)
  bin/diary
  bin/role-report
  docs/ROLE_AGENTS.md
  plugins/README.md
  plugins/markdown-diary/read.js
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/diary-roles.js
  src/plugin-loader.js
  test/diary-roles.test.js
  test/markdown-diary-role-sections.test.js
Due: lint-md, test-related, check-docs

Role agents: durable ROLE diary blocks, bin/role-report, role skeletons (#573) (#574)
  bin/diary
  bin/role-report
  docs/ROLE_AGENTS.md
  plugins/README.md
  plugins/markdown-diary/read.js
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/diary-roles.js
  src/plugin-loader.js
  test/diary-roles.test.js
  test/markdown-diary-role-sections.test.js
Due: lint-md, test-related, check-docs

Document plain ASCII -> as the reply-arrow form
  docs/ROLE_AGENTS.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
Due: lint-md

Document plain ASCII -> as the reply-arrow form (#575)
  docs/ROLE_AGENTS.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
Due: lint-md

Role blocks: checkbox state flips and the snapshot-report convention (#576)
  bin/role-report
  docs/ROLE_AGENTS.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/diary-roles.js
  test/diary-roles.test.js
Due: lint-md, test-related

Role blocks: checkbox flips and the snapshot-report convention (#576) (#577)
  bin/role-report
  docs/ROLE_AGENTS.md
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
  src/diary-roles.js
  test/diary-roles.test.js
Due: lint-md, test-related

Role template: a role file is a standing charter, not a snapshot
  skeleton/roles/_template/SKILL.md
Due: lint-md

Chief-of-staff template: name the hazards the vague red flags guarded
  skeleton/roles/chief-of-staff/SKILL.md
Due: lint-md

Role template: a role file is a standing charter, not a snapshot (#578)
  skeleton/roles/_template/SKILL.md
  skeleton/roles/chief-of-staff/SKILL.md
Due: lint-md
