Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lint-md:
  run: 'echo "Auto-fixing markdown files with markdownlint..."
  
    npx markdownlint-cli2 --fix {staged_files}
  
    git add {staged_files}
  
    echo "✅ Markdown files have been auto-fixed and staged"
  
    '

test-related:
  run: 'echo "JavaScript source files changed, running tests..."
  
    npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
  
    echo "✅ All tests passed!"
  
    '

Move docs/images to .internal/ (shows future work)
  README.md
  docs/images/daily-plan-example.png
Due: lint-md

Remove redundant pre-commit-secrets script
  docs/EMAIL_SETUP.md
  docs/TASKS.md
  scripts/check-duplicates.js
  scripts/pre-commit-secrets
Due: lint-md

Remove config.toml.example in favor of interactive configuration
  README.md
  bin/plugins
  bin/today
  config.toml.example
  src/config.js
Due: lint-md, test-related

Refactor bin/today to use Commander for CLI parsing
  bin/today
  test/today-cli.test.js
Due: none

Add automatic npm install on first run or upgrade
  bin/today
Due: none

Add automatic npm install on first run or upgrade
  bin/today
  plugins/apple-health-auto-export/plugin.toml
  plugins/apple-health-auto-export/read.js
Due: none

Fix npm install bootstrap to restart after installing
  bin/today
Due: none

Split bin/today into bootstrap wrapper and main script
  bin/today
  bin/today-main.js
Due: none

Use dynamic imports for auto npm install in single file
  bin/today
  bin/today-main.js
Due: none

Remove encrypted .env from repo, fix dotenvx loader for new users
  .env
  .gitignore
  bin/lib/dotenvx-loader.js
Due: none

Add auto-creation and cleanup of diary files
  plugins/markdown-diary/read.js
Due: none

Add provider-agnostic binary requirement checking
  bin/today
  src/ai-provider.js
Due: test-related

Add AI notice when no plugins are enabled
  bin/today
Due: none

Remove .skeleton-hashes from .gitignore
  .gitignore
Due: none

Add automatic update checking and update command
  bin/today
Due: none

Fix fresh install bugs: dotenvx warnings and date formatting errors
  README.md
  src/database-service.js
  src/date-utils.js
Due: lint-md, test-related

Remove progress tracking suggestion from session end message
  bin/today
Due: none

Fix --non-interactive flag to work without a request
  bin/today
Due: none

Add environment variable support to plugin configuration UI
  src/plugins-configure-ui.js
Due: test-related

Fix env var encryption and clean up environment file handling
  .dockerignore
  .env.example
  .gitignore
  src/plugins-configure-ui.js
Due: test-related

Add encrypted settings support for plugin secrets
  .gitignore
  jest.config.js
  plugins/README.md
  plugins/apple-health-auto-export/plugin.toml
  plugins/dayone-diary/plugin.toml
  plugins/front-conversations/plugin.toml
  plugins/front-conversations/read.js
  plugins/github-issues/plugin.toml
  plugins/github-projects/plugin.toml
  plugins/google-calendar/plugin.toml
  plugins/google-calendar/read.js
  plugins/google-calendar/write.js
  plugins/healthchecks-io/plugin.toml
  plugins/healthchecks-io/read.js
  plugins/icloud-conflict-cleanup/plugin.toml
  plugins/imap-email/plugin.toml
  plugins/imap-email/read.js
  plugins/inbox-processing/plugin.toml
  plugins/markdown-diary/plugin.toml
  plugins/markdown-projects/plugin.toml
  plugins/markdown-routines/plugin.toml
  plugins/markdown-tasks/plugin.toml
  plugins/markdown-time-tracking/plugin.toml
  plugins/markdownlint-cleanup/plugin.toml
  plugins/public-calendars/plugin.toml
  plugins/resilio-conflict-cleanup/plugin.toml
  plugins/sentry-issues/plugin.toml
  plugins/sentry-issues/read.js
  plugins/streaks-habits/plugin.toml
  plugins/vault-changes/plugin.toml
  src/plugin-loader.js
  src/plugins-configure-ui.js
Due: lint-md, test-related

Add encrypted API key configuration to AI Settings
  src/configure-ui.js
Due: test-related

Add encrypted settings support for plugin secrets (#93)
  .gitignore
  jest.config.js
  plugins/README.md
  plugins/apple-health-auto-export/plugin.toml
  plugins/dayone-diary/plugin.toml
  plugins/front-conversations/plugin.toml
  plugins/front-conversations/read.js
  plugins/github-issues/plugin.toml
  plugins/github-projects/plugin.toml
  plugins/google-calendar/plugin.toml
  plugins/google-calendar/read.js
  plugins/google-calendar/write.js
  plugins/healthchecks-io/plugin.toml
  plugins/healthchecks-io/read.js
  plugins/icloud-conflict-cleanup/plugin.toml
  plugins/imap-email/plugin.toml
  plugins/imap-email/read.js
  plugins/inbox-processing/plugin.toml
  plugins/markdown-diary/plugin.toml
  plugins/markdown-projects/plugin.toml
  plugins/markdown-routines/plugin.toml
  plugins/markdown-tasks/plugin.toml
  plugins/markdown-time-tracking/plugin.toml
  plugins/markdownlint-cleanup/plugin.toml
  plugins/public-calendars/plugin.toml
  plugins/resilio-conflict-cleanup/plugin.toml
  plugins/sentry-issues/plugin.toml
  plugins/sentry-issues/read.js
  plugins/streaks-habits/plugin.toml
  plugins/vault-changes/plugin.toml
  src/configure-ui.js
  src/plugin-loader.js
  src/plugins-configure-ui.js
Due: lint-md, test-related

Fix non-interactive mode on macOS
  bin/today
Due: none

Fix non-interactive mode on macOS (#95)
  bin/today
Due: none

Auto-stash local changes during update check
  bin/today
Due: none

Auto-stash local changes during update check (#96)
  bin/today
Due: none

Add plugin vault files feature for managing plugin templates and scripts
  bin/plugins
  bin/today
  plugins/README.md
  plugins/inbox-processing/vault/inbox/.gitkeep
  plugins/markdown-plans/vault/plans/.gitkeep
  plugins/markdown-plans/vault/plans/templates/daily-plan.md
  plugins/markdown-plans/vault/tasks/plans.md
  plugins/markdown-projects/vault/projects/zz-attachments/.gitkeep
  plugins/markdown-projects/vault/tasks/projects.md
  plugins/markdown-projects/vault/templates/project.md
  plugins/markdown-tasks/vault/tasks/every_six_weeks.md
  plugins/markdown-tasks/vault/tasks/recent.md
  plugins/markdown-tasks/vault/tasks/repeating.md
  plugins/markdown-tasks/vault/tasks/tasks.md
  plugins/markdown-tasks/vault/tasks/today.md
  plugins/markdown-time-tracking/vault/logs/time-tracking/.gitkeep
  plugins/markdown-time-tracking/vault/scripts/time-tracking-widget-examples.md
  plugins/markdown-time-tracking/vault/scripts/time-tracking-widget.js
  plugins/stages/vault/tasks/stages.md
  skeleton/.obsidian/snippets/today.css
  src/plugin-loader.js
Due: lint-md, test-related

Add plugin vault files feature for managing plugin templates and scripts (#97)
  bin/plugins
  bin/today
  plugins/README.md
  plugins/inbox-processing/vault/inbox/.gitkeep
  plugins/markdown-plans/vault/plans/.gitkeep
  plugins/markdown-plans/vault/plans/templates/daily-plan.md
  plugins/markdown-plans/vault/tasks/plans.md
  plugins/markdown-projects/vault/projects/zz-attachments/.gitkeep
  plugins/markdown-projects/vault/tasks/projects.md
  plugins/markdown-projects/vault/templates/project.md
  plugins/markdown-tasks/vault/tasks/every_six_weeks.md
  plugins/markdown-tasks/vault/tasks/recent.md
  plugins/markdown-tasks/vault/tasks/repeating.md
  plugins/markdown-tasks/vault/tasks/tasks.md
  plugins/markdown-tasks/vault/tasks/today.md
  plugins/markdown-time-tracking/vault/logs/time-tracking/.gitkeep
  plugins/markdown-time-tracking/vault/scripts/time-tracking-widget-examples.md
  plugins/markdown-time-tracking/vault/scripts/time-tracking-widget.js
  plugins/stages/vault/tasks/stages.md
  skeleton/.obsidian/snippets/today.css
  src/plugin-loader.js
Due: lint-md, test-related

Streamline README for v1.0.0 release
  README.md
Due: lint-md

Remove unnecessary peer dependencies from package-lock.json
  package-lock.json
Due: none

Remove unnecessary "peer" fields from package-lock.json
  package-lock.json
Due: none

Add built-in chat UI for local LLMs with compact mode
  bin/today
  plugins/README.md
  plugins/markdown-plans/read.js
  src/ai-provider.js
  src/chat-session.js
  src/chat-ui.js
  src/configure-ui.js
  src/plugin-loader.js
Due: lint-md, test-related

Remove redundant .gitkeep file
  plugins/markdown-plans/vault/plans/.gitkeep
Due: none

Add Anthropic API option for interactive provider
  src/ai-provider.js
  src/configure-ui.js
  test/ai-provider.test.js
Due: test-related

Fix vault skeleton creation during plugin sync
  bin/plugins
Due: none

Enhance styling for project templates and ensure visibility of Tasks plugin checkboxes
  skeleton/.obsidian/snippets/today.css
Due: none

Add comprehensive finance plugin system with YNAB integration
  bin/finance
  bin/plugins
  plugins/ynab-finance/plugin.toml
  plugins/ynab-finance/read.js
  src/plugin-schemas.js
Due: test-related

Path conditions:
  lint-md: any of: *.md, but not: ^vault/
  test-related: any of: *.js and ^src/
