Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lint-md:
  run: 'echo "Auto-fixing markdown files with markdownlint..."
  
    npx markdownlint-cli2 --fix {staged_files}
  
    git add {staged_files}
  
    echo "✅ Markdown files have been auto-fixed and staged"
  
    '

test-related:
  run: 'echo "JavaScript source files changed, running tests..."
  
    npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
  
    echo "✅ All tests passed!"
  
    '

Use proven Markdown libraries for syntax highlighting and TOC
  package-lock.json
  package.json
  src/web-server.js
Due: test-related

Refactor: Simplify stdio configuration in child process spawning
  bin/today
Due: none

Add loading spinner for slow page loads using fetch-based navigation
  src/web-server.js
  src/web/public/css/style.css
  src/web/public/js/common.js
Due: test-related

Add AI chat tools and inline property syntax
  src/ai-chat/chat-service.js
  src/ai-chat/conversation-store.js
  src/ai-chat/index.js
  src/ai-chat/message-builder.js
  src/ai-chat/tools.js
  src/ai-provider.js
  src/web-server.js
Due: test-related

Fix dv.current().file.tasks to parse tasks from file content
  src/web-server.js
Due: test-related

Fix markdown task toggle and add API tests
  src/web-server.js
  src/web/public/css/style.css
  test/web-server-tasks.test.js
Due: test-related

Add clickable task links and improve task detail page
  src/web-server.js
Due: test-related

Add configurable config.toml location and runtime deployment overrides
  src/config.js
  src/configure-ui.js
  src/deploy/commands/deploy.js
  src/deployments-configure-ui.js
  src/plugins-configure-ui.js
Due: test-related

Fix marked v5+ link renderer API and make relative links vault-root absolute
  src/web-server.js
Due: test-related

Enhance daily planning interface by conditionally displaying Today's Diary or Today's Plan based on plugin configuration; add support for converting Obsidian wiki links to standard markdown links.
  src/web-server.js
Due: test-related

Refactor plans section rendering logic to check for file existence only if markdown-plans plugin is enabled; streamline code by removing redundant checks.
  src/web-server.js
Due: test-related

Add AI chat tool execution feedback and track --start option
  bin/today
  bin/track
  src/ai-chat/chat-service.js
  src/ai-chat/message-builder.js
  src/ai-chat/tools.js
  src/ai-provider.js
  src/date-utils.js
  src/web-server.js
Due: test-related

Improve Obsidian compatibility: image embeds, line breaks, properties
  src/web-server.js
  src/web/public/css/style.css
Due: test-related

Fix AI chat: add date context, tool summaries, deduplicate messages
  src/ai-chat/message-builder.js
  src/web-server.js
Due: test-related

Add cookie persistence and interactive login for trusted-housesitters
  bin/plugins
  package-lock.json
  package.json
  plugins/trusted-housesitters/browser.js
  plugins/trusted-housesitters/login.js
  plugins/trusted-housesitters/plugin.toml
  plugins/trusted-housesitters/read.js
  plugins/trusted-housesitters/vault/trusted-housesitters/.gitkeep
  src/plugin-loader.js
Due: test-related

Add cookie persistence and interactive login for trusted-housesitters (#117)
  bin/plugins
  package-lock.json
  package.json
  plugins/trusted-housesitters/browser.js
  plugins/trusted-housesitters/login.js
  plugins/trusted-housesitters/plugin.toml
  plugins/trusted-housesitters/read.js
  plugins/trusted-housesitters/vault/trusted-housesitters/.gitkeep
  src/plugin-loader.js
Due: test-related

Add post-merge hook to auto-install deps when package.json changes
  lefthook.yml
Due: none

Add early pagination stop for trusted-housesitters scraper
  package-lock.json
  plugins/trusted-housesitters/read.js
Due: none

Improve listings page: vault images, country flags, anchor fix
  plugins/trusted-housesitters/read.js
  src/web/public/js/common.js
Due: test-related

Fix heading anchor IDs in web view
  src/web-server.js
Due: test-related

Fix server error: migrate checkbox renderer to marked.use() and add listing views
  plugins/trusted-housesitters/read.js
  src/web-server.js
Due: test-related

Add marked renderer composition tests
  test/marked-renderers.test.js
Due: none

Fix TOC anchor links for Obsidian compatibility
  plugins/trusted-housesitters/read.js
Due: none

Fix edit route 404 for Obsidian-style URLs without .md extension
  src/web-server.js
Due: test-related

Add "Posted" relative date to TH listing cards
  plugins/trusted-housesitters/read.js
Due: none

Separate paused/completed projects in plan file project lists
  plugins/markdown-plans/read.js
Due: none

Add Chromium shared library dependencies to droplet setup
  src/deploy/providers/digitalocean.js
Due: test-related

Fix Chromium dependency installation for Puppeteer in DigitalOcean setup
  src/deploy/providers/digitalocean.js
Due: test-related

Improve user agent handling and add error handling for email selector in login process
  plugins/trusted-housesitters/browser.js
  plugins/trusted-housesitters/login.js
Due: none

Fix streaming chat replacing first reply instead of appending new one
  src/web-server.js
Due: test-related

Fix relative markdown links resolving to vault root instead of current directory
  src/web-server.js
Due: test-related

Fix paused projects not appearing in Paused / Completed section
  plugins/markdown-plans/read.js
Due: none

Fix routine reset logic for non-daily recurrence periods
  plugins/markdown-routines/read.js
  src/recurrence-parser.js
Due: test-related

Add moment.js dependency to package.json and package-lock.json
  package-lock.json
  package.json
Due: none

Add remote access instructions for server deployment in README
  README.md
Due: lint-md

Fix global --no-sync flag being ignored by subcommands
  bin/today
Due: none

Add DOM-like APIs to DataviewJS pseudo-elements for widget compatibility
  src/web-server.js
Due: test-related

Fix tasks query blocks not being processed due to hljs class prefix
  src/web-server.js
Due: test-related

Filter out TrustedHousesitters listings closed to new applicants
  plugins/trusted-housesitters/read.js
Due: none

Path conditions:
  lint-md: any of: *.md, but not: ^vault/
  test-related: any of: *.js and ^src/
