Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "✅ Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "✅ All tests passed!"

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "⚠️  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

Refactor database health check to remove orphaned WAL/SHM file check, clarifying that empty WAL with SHM is a normal state after checkpoint.
  src/db-health.js
Due: test-related

Standardize CLIs on commander and add markdown-plans plugin
  bin/calendar
  bin/context
  bin/diary
  bin/habits
  bin/issues
  bin/plugins
  bin/tasks
  bin/today
  bin/track
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
  src/cli-utils.js
  src/plugin-schemas.js
Due: test-related

Add opt-out feature to link daily notes to plan files
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
Due: none

Remove DUE_TODAY section from past daily plan files
  plugins/markdown-plans/read.js
Due: none

Add Day Summary callout to past daily plan files
  plugins/markdown-plans/read.js
Due: none

Add navigation, summary callouts, and cleanup for daily plans
  plugins/markdown-plans/read.js
Due: none

Add reference templates for higher-level plan reviews
  tmp/plans/2025_Q4_11_W48_00.md
  tmp/plans/annual-review.md
  tmp/plans/monthly-review.md
  tmp/plans/quarterly-review.md
  tmp/plans/review-templates-guide.md
  tmp/plans/weekly-review.md
Due: lint-md

Standardize CLIs on commander and add markdown-plans plugin (#84)
  bin/calendar
  bin/context
  bin/diary
  bin/habits
  bin/issues
  bin/plugins
  bin/tasks
  bin/today
  bin/track
  config.toml.example
  plugins/markdown-diary/read.js
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
  src/cli-utils.js
  src/database-service.js
  src/db-health.js
  src/plugin-schemas.js
  tmp/plans/2025_Q4_11_W48_00.md
  tmp/plans/annual-review.md
  tmp/plans/monthly-review.md
  tmp/plans/quarterly-review.md
  tmp/plans/review-templates-guide.md
  tmp/plans/weekly-review.md
Due: lint-md, test-related

Add local mounts system and ignore workspace files
  .devcontainer/mounts.local.example
  .devcontainer/setup-mounts.sh
  .gitignore
  bin/devcontainer-startup
  jest.config.js
  today.code-workspace
Due: none

Use Anthropic API directly for auto-tagging instead of Claude CLI
  src/auto-tagger.js
Due: test-related

Add projects plugin type and markdown-projects plugin (#86)
  bin/projects
  config.toml.example
  plugins/markdown-projects/plugin.toml
  plugins/markdown-projects/read.js
  src/plugin-schemas.js
Due: test-related

Refactor project description for improved readability and clarity
  src/plugin-schemas.js
Due: test-related

Fix scheduler to use timezone from config.toml
  src/scheduler.js
Due: test-related

Add github-projects plugin and refactor bin/projects for generic item handling (#87)
  bin/projects
  config.toml.example
  plugins/github-projects/plugin.toml
  plugins/github-projects/read.js
  plugins/markdown-projects/read.js
Due: none

Replace blessed-based config UI with ink (React for CLIs)
  bin/plugins
  bin/today
  package-lock.json
  package.json
  src/configure-ui.js
  src/plugin-schemas.js
  src/plugins-configure-ui.js
  test/today-configure.test.js
Due: test-related

Add ai_instructions editing to configuration UIs
  .env
  bin/lib/dotenvx-loader.sh
  bin/today
  bin/with-env
  src/configure-ui.js
  src/plugins-configure-ui.js
Due: test-related

Add AI provider abstraction layer for multi-provider support
  bin/projects
  bin/today
  package.json
  plugins/markdown-plans/read.js
  src/ai-provider.js
  src/auto-tagger.js
  src/claude-cli-adapter.js
  src/config.js
  src/configure-ui.js
  src/email-manager.js
  src/natural-language-search.js
  test/ai-provider.test.js
  test/plugin-loader.test.js
Due: test-related

Add AI providers documentation
  docs/AI_PROVIDERS.md
Due: lint-md

Replace custom AI abstraction with Vercel AI SDK
  package-lock.json
  package.json
  src/ai-provider.js
  test/ai-provider.test.js
Due: test-related

Suppress AI SDK compatibility warnings for Ollama
  src/ai-provider.js
Due: test-related

Fix getAIProvider import and rename health-metrics to health type
  plugins/apple-health-auto-export/plugin.toml
  src/natural-language-search.js
  src/plugin-schemas.js
Due: test-related

Add MCP server for AI assistant integration
  bin/mcp-server
  package-lock.json
  package.json
  src/mcp-server.js
Due: test-related

Enhance plan file sorting by extracting date components for accurate chronological order
  plugins/markdown-plans/read.js
Due: none

Add functional Apple Health plugin with health schema
  bin/health
  plugins/apple-health-auto-export/plugin.toml
  plugins/apple-health-auto-export/read.js
  src/plugin-schemas.js
Due: test-related

Update default health command to include summary option
  src/plugin-schemas.js
Due: test-related

Feature/ai agnostic architecture (#91)
  bin/health
  bin/mcp-server
  bin/projects
  bin/today
  docs/AI_PROVIDERS.md
  package-lock.json
  package.json
  plugins/apple-health-auto-export/plugin.toml
  plugins/apple-health-auto-export/read.js
  plugins/markdown-plans/read.js
  src/ai-provider.js
  src/auto-tagger.js
  src/claude-cli-adapter.js
  src/config.js
  src/configure-ui.js
  src/email-manager.js
  src/mcp-server.js
  src/natural-language-search.js
  src/plugin-schemas.js
  test/ai-provider.test.js
  test/plugin-loader.test.js
Due: lint-md, test-related

Update .gitignore and enhance plugin documentation for clarity and accuracy
  .gitignore
  README.md
  plugins/README.md
Due: lint-md

Add documentation sync checks and fix orphaned WAL file cleanup
  lefthook.yml
  scripts/check-docs
  src/db-health.js
  src/plugin-schemas.js
Due: test-related

Release prep: AI SDK, health plugin, MCP server, and documentation (#92)
  .gitignore
  README.md
  lefthook.yml
  plugins/README.md
  scripts/check-docs
  src/db-health.js
  src/plugin-schemas.js
Due: lint-md, test-related

Enhance date handling in SQL queries to support timezone-aware timestamps
  README.md
  bin/track
  plugins/markdown-plans/read.js
  src/date-utils.js
  src/mcp-server.js
Due: lint-md, test-related

Add birthdate to profile config and fix Anthropic API key lookup
  bin/today
  src/ai-provider.js
  src/configure-ui.js
Due: test-related

Fix race condition in diary file modifications
  plugins/inbox-processing/read.js
  plugins/markdown-plans/read.js
Due: none

Move infrastructure code to .internal/ for public release prep
  .devcontainer/devcontainer.json
  .gitignore
  README.md
  bin/deploy-do
  bin/droplet-maintenance
  bin/droplet-monitor
  bin/sentry
  bin/setup-droplet.sh
  bin/setup-vault-web
  config/inbox-api.service
  config/logrotate-today
  config/nginx-vault-api.conf
  config/nginx-vault-web.conf
  config/resilio-sync.service
  config/today-scheduler.service
  config/vault-api.service
  config/vault-watcher.service
  config/vault-web.service
  docs/DIGITALOCEAN.md
  docs/DOCKER.md
  docs/drafts-setup-guide.md
  docs/resilio-sync-setup.md
  docs/secure-web-access.md
  docs/web-server-deployment.md
  src/tag-emoji-mappings.js
  src/web-server.js
Due: lint-md, test-related

Move infrastructure scripts to .internal/ and remove Tailscale
  .devcontainer/devcontainer.json
  bin/checkpoint-wal.sh
  bin/devcontainer-startup
  bin/sentry
  bin/setup
  bin/start-code-server
  bin/tunnel
  bin/vault-auto-sync
  bin/vault-sync
  bin/vault-sync-daemon
  docs/CONTAINER_SETUP_ISSUES.md
  docs/DEVCONTAINER_REMOTE_ACCESS.md
  docs/IPAD_ACCESS_GUIDE.md
  docs/TAILSCALE_SETUP.md
Due: lint-md

Move Docker, vault daemons, and status scripts to .internal/
  .docker-bashrc
  bin/devcontainer-setup
  bin/docker-run
  bin/docker-setup
  bin/ollama-manage
  bin/status
  bin/vault-backup
  bin/vault-snapshot
  bin/vault-watcher
  bin/vault-watcher-control
  docs/DOCKER.md
Due: lint-md

Clean up bin/ scripts and move container scripts
  .devcontainer/devcontainer-startup
  .devcontainer/devcontainer.json
  bin/get-config
  bin/lint-fix
  bin/resolve-timezone
  bin/setup
  bin/update-deps
Due: none

Move get-config and encode-service-account to .internal/
  bin/encode-service-account
  bin/get-config
Due: none

Move bin/diagnose to .internal/
  bin/diagnose
Due: none

Move Drafts integration to .internal/ (future feature)
  docs/drafts-setup-guide.md
  docs/drafts-sync-design.md
  scripts/drafts-send-to-inbox.js
  scripts/drafts-vault-sync.js
Due: lint-md

Move future/reference docs to .internal/
  docs/NATURAL_LANGUAGE_SEARCH.md
  docs/powerful-sqlite-queries.md
Due: lint-md
