Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related, check-docs

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "âœ… Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "âœ… All tests passed!"

    check-docs:
      glob: "{src/plugin-schemas.js,plugins/README.md}"
      run: |
        echo "Checking documentation is in sync with code..."
        scripts/check-docs
        echo "âœ… Documentation checks passed!"

post-merge:
  commands:
    install-deps:
      run: |
        changed=$(git diff-tree -r --name-only ORIG_HEAD HEAD -- package.json package-lock.json)
        if [ -n "$changed" ]; then
          echo "ğŸ“¦ package.json changed, running npm install..."
          npm install
          echo "âœ… Dependencies installed"
        fi

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "âš ï¸  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

fix(vault-watcher): exclude markdown-plans to break write→watch loop
  src/vault-watcher.js
Due: test-related

fix(vault-watcher): exclude markdown-plans to break write→watch loop (#324)
  src/vault-watcher.js
Due: test-related

fix(sync): reconcile task rows when a watched file is deleted (#325)
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

fix(sync): reconcile task rows when a watched file is deleted (#325) (#326)
  src/plugin-loader.js
  test/plugin-loader.test.js
Due: test-related

Add homepage “Now” toggle with latest now.md entry preview (#332)
  src/now-updates-utils.js
  src/web-server.js
  src/web/public/js/common.js
  test/now-updates-utils.test.js
Due: test-related

build(deps): bump nodemailer override to ^9.0.1 and undici to 7.28.0
  package-lock.json
  package.json
Due: none

build(deps): bump nodemailer override to ^9.0.1 and undici to 7.28.0 (#334)
  package-lock.json
  package.json
Due: none

Exclude node_modules from Unison sync, use do_deploy_key
  bin/unison-sync
  src/deploy/remote-server.js
Due: test-related

Fix task-query sort fields and double-slash Edit/save URLs
  src/save-route.js
  src/tasks-query-sort.js
  src/web-server.js
  test/save-route.test.js
  test/tasks-query-sort.test.js
Due: test-related

Link Diff Viewer filenames to their file pages
  src/web-server.js
Due: test-related

Fix task-query sort fields and double-slash Edit/save URLs (#339)
  src/save-route.js
  src/tasks-query-sort.js
  src/url-path.js
  src/web-server.js
  test/save-route.test.js
  test/tasks-query-sort.test.js
  test/url-path.test.js
Due: test-related

Link Diff Viewer filenames to their file pages (#341)
  src/web-server.js
Due: test-related

Fix plan priorities rendering as [object Object]
  src/web-server.js
Due: test-related

Restrict formatListItem to plain objects (Copilot review)
  src/web-server.js
Due: test-related

Fix plan priorities rendering as [object Object] (#352)
  src/web-server.js
Due: test-related

Defend against invalid frontmatter YAML in parseFrontmatter
  src/web-server.js
Due: test-related

Harden lenient frontmatter parser (Copilot review)
  src/web-server.js
Due: test-related

Extract frontmatter parsing into src/frontmatter.js with tests
  src/frontmatter.js
  src/web-server.js
  test/frontmatter.test.js
Due: test-related

Fix js-yaml import for v5 (no default export)
  src/frontmatter.js
  src/web-server.js
Due: test-related

Defend against invalid frontmatter YAML (raw frontmatter dumped into page) (#355)
  src/frontmatter.js
  src/web-server.js
  test/frontmatter.test.js
Due: test-related

fix(markdown-projects): skip attachment dirs matching a same-named project file
  plugins/markdown-projects/read.js
Due: none

perf: build md-basename set once per dir instead of per-entry existsSync
  plugins/markdown-projects/read.js
Due: none

fix(markdown-projects): skip attachment dirs matching a same-named project file (#357)
  plugins/markdown-projects/read.js
Due: none

fix(tasks): regenerate recurring tasks with a #tag between the rule and date
  src/web-server.js
  test/web-server-tasks.test.js
Due: test-related

fix(tasks): also stop recurrence rule at 🛫 start date; DRY the token set
  src/web-server.js
  test/web-server-tasks.test.js
Due: test-related

fix(tasks): regenerate recurring tasks with a #tag between the rule and date (#359)
  src/web-server.js
  test/fixtures/task-toggle-fixture.md
  test/web-server-tasks.test.js
Due: lint-md, test-related

build(deps): Bump ai to 7.0.22 and ollama-ai-provider-v2 to 4.0.1
  package-lock.json
  package.json
Due: none

build(deps): Bump ai to 7.0.22 and ollama-ai-provider-v2 to 4.0.1 (#369)
  package-lock.json
  package.json
Due: none

fix(ai): pass maxOutputTokens/stopWhen so token caps and tool loops apply
  src/ai-provider.js
  test/ai-provider-sdk-params.test.js
Due: test-related

fix(ai): pass maxOutputTokens/stopWhen so token caps and tool loops apply (#371)
  src/ai-provider.js
  test/ai-provider-sdk-params.test.js
Due: test-related

fix(web): vendor diff2html under /static instead of an unpinned CDN
  src/web-server.js
  src/web/public/vendor/diff2html/LICENSE.md
  src/web/public/vendor/diff2html/README.md
  src/web/public/vendor/diff2html/diff2html-ui-slim.min.js
  src/web/public/vendor/diff2html/diff2html.min.css
Due: lint-md, test-related

fix(web): vendor diff2html under /static instead of an unpinned CDN (#373)
  src/web-server.js
  src/web/public/vendor/diff2html/LICENSE.md
  src/web/public/vendor/diff2html/README.md
  src/web/public/vendor/diff2html/diff2html-ui-slim.min.js
  src/web/public/vendor/diff2html/diff2html.min.css
Due: lint-md, test-related

fix(scheduler): kill job process groups so syncs stop piling up
  README.md
  bin/plugins
  src/plugin-loader.js
  src/process-group.js
  src/scheduler.js
  test/process-group.test.js
Due: lint-md, test-related

fix(process-group): error on maxBuffer overflow instead of truncating
  src/process-group.js
  test/process-group.test.js
Due: test-related

ci(security): gate npm audit on runtime dependencies only
  .github/workflows/security.yml
Due: none

ci(security): gate npm audit on runtime dependencies only (#389)
  .github/workflows/security.yml
Due: none

fix(scheduler): kill job process groups so syncs stop piling up (#384)
  README.md
  bin/plugins
  src/plugin-loader.js
  src/process-group.js
  src/scheduler.js
  test/process-group.test.js
Due: lint-md, test-related

fix(email): fix three server-search bugs — iCloud skipped, --source ignored, ALL as text
  bin/email
Due: none

fix(deps): clear high-severity runtime advisories to unblock CI
  package-lock.json
Due: none
