Repository jeffcovey/today: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, test-related

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    secrets:
      run: |
        # Check for potential secrets in staged content
        against=$(git rev-parse --verify HEAD 2>/dev/null || git hash-object -t tree /dev/null)

        patterns='sk-ant-api[a-zA-Z0-9_-]{40,}|ghp_[a-zA-Z0-9]{36}|github_pat_[a-zA-Z0-9_]{22,}|-----BEGIN (RSA |DSA |EC |OPENSSH )?PRIVATE KEY-----|AKIA[0-9A-Z]{16}|xox[baprs]-[0-9]{10,13}-[0-9]{10,13}-[a-zA-Z0-9]{24}'
        exclude='\.env\.example|NATURAL_LANGUAGE_SEARCH\.md|TAILSCALE_SETUP\.md'

        matches=$(git diff --cached --diff-filter=ACMR -U0 $against | grep -E "^\+" | grep -v "^+++" | grep -E "$patterns" | grep -vE "$exclude" || true)

        if [ -n "$matches" ]; then
          echo "ERROR: Potential secret detected:"
          echo "$matches" | head -5
          echo ""
          echo "Commit blocked. Use --no-verify to bypass (review carefully first!)"
          exit 1
        fi

        # Check for sensitive filenames
        sensitive=$(git diff --cached --name-only --diff-filter=A $against | grep -iE '(^|/)(\.(env|env\.local|env\.production)|.*credentials.*\.json|.*secrets.*\.json|.*\.pem|.*\.key|id_rsa|id_ed25519)$' || true)

        if [ -n "$sensitive" ]; then
          echo "ERROR: Potentially sensitive file(s) being added:"
          echo "$sensitive"
          exit 1
        fi

    lint-md:
      glob: "*.md"
      exclude: "^vault/"
      run: |
        echo "Auto-fixing markdown files with markdownlint..."
        npx markdownlint-cli2 --fix {staged_files}
        git add {staged_files}
        echo "✅ Markdown files have been auto-fixed and staged"

    test-related:
      glob: "*.js"
      root: "src/"
      run: |
        echo "JavaScript source files changed, running tests..."
        npm test -- --bail --passWithNoTests --findRelatedTests {staged_files}
        echo "✅ All tests passed!"

pre-push:
  commands:
    outdated:
      run: |
        outdated_count=$(npm outdated 2>/dev/null | tail -n +2 | wc -l | tr -d ' ')
        if [ "$outdated_count" -gt "0" ]; then
          echo "⚠️  $outdated_count outdated dependencies. Run 'npm outdated' for details."
        fi
      # Don't fail on outdated deps, just warn
      fail_text: ""

    all-tests:
      run: npm test

Refactor service credentials in docker-compose to remove email variables
  docker-compose.scheduler.yml
Due: none

Add vault directory to .gitignore for better security management
  .gitignore
Due: none

Fix deploy command to use sshScript for writing scheduler jobs config
  src/deploy/commands/deploy.js
Due: test-related

Fix now-updates propagating stale data from previous updates
  bin/plugins
  plugins/now-updates/read.js
Due: none

Add shared AI settings module and deployment AI overrides
  src/ai-settings-shared.js
  src/config.js
  src/configure-ui.js
  src/deploy/commands/deploy.js
  src/deploy/remote-server.js
Due: test-related

Add hosting plugin for rental property management
  plugins/hosting/plugin.toml
  plugins/hosting/read.js
  src/plugins-configure-ui.js
Due: test-related

Add 'bin/track day' command and refactor to eliminate code duplication
  bin/track
Due: none

Fix IMAP email folder auto-discovery by improving exclude list
  plugins/imap-email/plugin.toml
  plugins/imap-email/read.js
Due: none

Add comprehensive weekly plan template for markdown-plans plugin
  plugins/markdown-plans/read.js
  plugins/markdown-plans/vault/plans/templates/weekly-plan.md
Due: lint-md

Add weekly plan Dataview scripts to skeleton
  skeleton/scripts/weekly-concerns.js
  skeleton/scripts/weekly-daily-links.js
  skeleton/scripts/weekly-header.js
  skeleton/scripts/weekly-previous-priorities.js
  skeleton/scripts/weekly-progress.js
  skeleton/scripts/weekly-projects.js
Due: none

Add 'yesterday' command to track time entries for the previous day
  bin/track
Due: none

Add comprehensive time tracking sanity checks and correction system
  bin/track
Due: none

Improve time tracking fix command with better problem reporting
  bin/track
Due: none

Add dynamic navigation widget for plan files
  .gitignore
  plugins/markdown-plans/read.js
  plugins/markdown-plans/vault/plans/templates/daily-plan.md
  plugins/markdown-plans/vault/plans/templates/weekly-plan.md
  skeleton/scripts/weekly-concerns.js
  skeleton/scripts/weekly-daily-links.js
  skeleton/scripts/weekly-header.js
  skeleton/scripts/weekly-previous-priorities.js
  skeleton/scripts/weekly-progress.js
  skeleton/scripts/weekly-projects.js
  skeleton/scripts/weekly-widget.js
Due: lint-md

Update newly created weekly plans with diary notes and habit stats
  plugins/markdown-plans/read.js
Due: none

Fix monthNames reference error in weekly template variables
  plugins/markdown-plans/read.js
Due: none

Use smart DATE_RANGE and YEAR_SUFFIX in weekly plan title
  plugins/markdown-plans/vault/plans/templates/weekly-plan.md
Due: lint-md

Fix git exclude to use root-relative paths for mounted dirs
  .devcontainer/generate-compose-override.sh
Due: none

Add init flag to devcontainer service in docker-compose.yml
  .devcontainer/docker-compose.yml
Due: none

Add project date management to bin/projects and plugins
  bin/projects
  plugins/github-projects/plugin.toml
  plugins/github-projects/read.js
  plugins/github-projects/write.js
  plugins/markdown-projects/plugin.toml
  plugins/markdown-projects/read.js
  plugins/markdown-projects/write.js
Due: none

Add auto-updating projects sections to all plan levels
  plugins/markdown-plans/read.js
  plugins/markdown-plans/vault/plans/templates/daily-plan.md
  plugins/markdown-plans/vault/plans/templates/monthly-plan.md
  plugins/markdown-plans/vault/plans/templates/quarterly-plan.md
  plugins/markdown-plans/vault/plans/templates/weekly-plan.md
  plugins/markdown-plans/vault/plans/templates/yearly-plan.md
  plugins/markdown-plans/vault/scripts/plans-widget.js
  skeleton/scripts/weekly-widget.js
Due: lint-md

Refactor GitHub CLI installation to separate step in Dockerfile
  .devcontainer/Dockerfile
Due: none

Add priority field support to project plugins
  bin/projects
  plugins/github-projects/plugin.toml
  plugins/github-projects/read.js
  plugins/github-projects/write.js
  plugins/markdown-projects/write.js
Due: none

Add standardized status field support to project plugins
  bin/projects
  plugins/github-projects/plugin.toml
  plugins/github-projects/read.js
  plugins/github-projects/write.js
  plugins/markdown-projects/plugin.toml
  plugins/markdown-projects/read.js
  plugins/markdown-projects/write.js
Due: none

Fix owner type resolution for organization GitHub projects
  bin/projects
  plugins/github-projects/write.js
Due: none

Extract owner type from metadata for GitHub projects in sync command
  bin/projects
Due: none

Update future plan files with projects from database and change project status to active
  plugins/markdown-plans/read.js
  plugins/markdown-projects/vault/projects/templates/project.md
Due: lint-md

Add AI context guidance and fix plan hierarchy output
  plugins/markdown-plans/plugin.toml
  plugins/markdown-plans/read.js
  plugins/now-updates/read.js
Due: none

Enhance task file rebalancing to handle all task files and improve distribution logic
  plugins/markdown-tasks/write.js
Due: none

Fix diary sync and weekly plan diary notes merging
  plugins/markdown-diary/read.js
  plugins/markdown-plans/read.js
Due: none

Update file change detection to sync all modified files since last baseline
  plugins/markdown-tasks/read.js
Due: none

Restore web server for vault browsing
  src/web-server.js
Due: test-related

Add web server management commands and extract CSS to external file
  bin/today
  src/web-server.js
  src/web/public/css/style.css
  src/web/templates/.gitkeep
Due: test-related

Add template system and extract login page
  src/web-server.js
  src/web/public/js/common.js
  src/web/templates/.gitkeep
  src/web/templates/layout.html
  src/web/templates/login.html
Due: test-related

Remove duplicate inline JavaScript, use common.js
  src/web-server.js
Due: test-related

Extract navbar to template and getNavbar() helper
  src/web-server.js
  src/web/templates/navbar.html
Due: test-related

Enhance diary entry parsing to support multi-line entries
  plugins/markdown-plans/read.js
Due: none

Add centered styling for diary navigation in dashboard
  plugins/markdown-diary/read.js
  skeleton/.obsidian/snippets/today.css
Due: none

Extract more HTML/CSS/JS from web-server.js
  src/web-server.js
  src/web/public/css/style.css
  src/web/public/js/common.js
Due: test-related

Refactor: Extract HTML, CSS, and JS from web-server.js (#112)
  bin/today
  plugins/markdown-diary/read.js
  plugins/markdown-plans/read.js
  skeleton/.obsidian/snippets/today.css
  src/web-server.js
  src/web/public/css/style.css
  src/web/public/js/common.js
  src/web/templates/layout.html
  src/web/templates/login.html
  src/web/templates/navbar.html
Due: test-related
